# Class 2: Overview

[MovieLens](https://movielens.org/) is a project run by the [GroupLens](https://grouplens.org/) research lab at the University of Minnesota. It has has collected millions of movie ratings over many years to promote research into recommendation systems.

They provide the collected review data, of over 30 million ratings for non-commercial use.

We will be using the "small" version of the data for this exercise, which contains only 100,000 reviews.


Citation: F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets: History and Context. ACM Transactions on Interactive Intelligent Systems (TiiS) 5, 4: 19:1â€“19:19. https://doi.org/10.1145/2827872

In [2]:
import duckdb
import os
import pandas as pd
import urllib.request
from zipfile import ZipFile
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity, euclidean_distances


from matplotlib import pyplot as plt

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [3]:
filename = "ml-latest-small.zip"
path = "/Users/yashwanth/Documents/GWU/Sem 3/Data Mining/Class 2/Class Material/"
url = "https://files.grouplens.org/datasets/movielens/ml-latest-small.zip"
if os.path.isfile(path+filename):
    print(f'file already downloaded: {filename}')
else:
    print(f'downloading file: {filename}')
    headers = urllib.request.urlretrieve(url, filename=path+filename)

with ZipFile(path+filename, 'r') as zip_file:
    files = zip_file.namelist()
    for f in files: print(f)
    zip_file.extractall(path=path)
    print("Extracted")

downloading file: ml-latest-small.zip
ml-latest-small/
ml-latest-small/links.csv
ml-latest-small/tags.csv
ml-latest-small/ratings.csv
ml-latest-small/README.txt
ml-latest-small/movies.csv
Extracted

In [4]:
extracted_path = path+'ml-latest-small/'

duckdb.sql(f'CREATE TEMPORARY VIEW links AS (SELECT * FROM "{extracted_path}links.csv")')
duckdb.sql(f'CREATE TEMPORARY VIEW tags AS (SELECT * FROM "{extracted_path}tags.csv")')
duckdb.sql(f'CREATE TEMPORARY VIEW ratings AS (SELECT * FROM "{extracted_path}ratings.csv")')
duckdb.sql(f'CREATE TEMPORARY VIEW movies AS (SELECT * FROM "{extracted_path}movies.csv")')

In [5]:
duckdb.sql("SELECT * FROM ratings LIMIT 5").df()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
duckdb.sql("SELECT * FROM movies LIMIT 5").df()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
duckdb.sql("SELECT * FROM tags LIMIT 5").df()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [8]:
# The "links" data allows you to link a movie to its IMDB page or themoviedb.org page
# This is useful if you are building an application and wish to create links or pull in content
# from those sources, but we will just ignore this here.
duckdb.sql("SELECT * FROM links LIMIT 5").df()

   movieId   imdbId  tmdbId
0        1  0114709     862
1        2  0113497    8844
2        3  0113228   15602
3        4  0114885   31357
4        5  0113041   11862

# Sorting out the facts and the dimensions

In looking at this data, I believe you can separate out a few "dimensions" in the data:

* **Users**: the only reference to users in the data is the `userId`, but presumably MoveLens itself keeps track of other information about the user. The `userId` field is the primary key here.
* **Movies**: movies are dimensions, as well, with primary key `movieId`
* **Genres**: each genre would be it's own dimension, with a relationship to Movies.
    * Note: this is sometimes called an "outrigger dimension" because it is a dimension table that only joins to another dimension table. It can also be an exmaple of "Snowflaking", which is an alternative method of constructing a data warehouse that is more normalized, but also harder for users to query. In this 'dimensional modeling' approach, outriggers and snowflaking should be kept to a minimum.
* **Tags**: each individual tag is a dimension. However, we again have very little data here.

We also have one that is debatable:
* **Time** or **Date**: we have a "timestamp" field, which captures the time of the rating. Whether we include this would depend on the business and typical queries. Let's say that we are interested in dates, but not specific timestamps.

As for facts, it seems we have 2 distinct sets:

* **Ratings**: This is our primary "fact" table and would presumably be the one we find the most interesting/useful.
* **Tag Events**: tags are somewhat like ratings, in that they are discrete events that occurs. There are not a huge number of tagging events or tags themselves in this data. (A `COUNT(*)` only returns about 3600 tags)

Let's go ahead and create each of these tables and then look at what querying them looks like

In [10]:
## First, we will create a User table.
## Because there is no other information about users, we will derive a field, that we will call "date joined", based on their earliest review

query = '''

CREATE OR REPLACE TABLE user_dim AS (
    WITH ratings_w_date AS

    (
        SELECT
            UserId
            , DATE_TRUNC('day', MAKE_TIMESTAMP(1000000*timestamp) ) AS rating_date
        FROM
            ratings
    )

    , user_data AS
    (
        SELECT
            UserId
            , MIN(rating_date) AS date_joined
        FROM
            ratings_w_date
        GROUP BY UserId
    )

    SELECT * FROM user_data
)'''

duckdb.sql(query)
duckdb.sql('SELECT * FROM user_dim LIMIT 10').df()

   userId date_joined
0      42  2001-07-27
1      50  2017-07-20
2      70  2012-12-11
3      74  2008-04-06
4     107  1996-04-12
5     108  2003-01-17
6     124  2012-05-07
7     125  2016-09-17
8     128  1998-06-28
9     130  1996-05-20

In [11]:
## Now, let's look at the movies and genres dimensions.
## We'll create the movie dimension table, dropping the genres, then we will create a separte genre table.

query = '''

CREATE OR REPLACE TABLE movie_dim AS
(
    SELECT
        movieId
        , title
        , REGEXP_REPLACE(title, '\s\(\d+\)', '') AS extracted_title
        , REGEXP_EXTRACT(title, '\((\d+)\)', 1) AS year_released
        , imdbId
        , tmdbId

    FROM
        movies m
    LEFT JOIN
        links l
    USING (movieId)
)

'''
duckdb.sql(query)
duckdb.sql('SELECT * FROM movie_dim LIMIT 10').df()

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/var/folders/pr/hwfrw1gn4k3bbnzlvngy93800000gn/T/ipykernel_97362/2672454125.py:4: SyntaxWarning: invalid escape sequence '\s'
  query = '''

,movieId,title,extracted_title,year_released,imdbId,tmdbId
0,1,Toy Story (1995),Toy Story,1995,0114709,862
1,3,Grumpier Old Men (1995),Grumpier Old Men,1995,0113228,15602
2,4,Waiting to Exhale (1995),Waiting to Exhale,1995,0114885,31357
3,5,Father of the Bride Part II (1995),Father of the Bride Part II,1995,0113041,11862
4,6,Heat (1995),Heat,1995,0113277,949
5,7,Sabrina (1995),Sabrina,1995,0114319,11860
6,8,Tom and Huck (1995),Tom and Huck,1995,0112302,45325
7,9,Sudden Death (1995),Sudden Death,1995,0114576,9091
8,11,"American President, The (1995)","American President, The",1995,0112346,9087
9,12,Dracula: Dead and Loving It (1995),Dracula: Dead and Loving It,1995,0112896,12110

In [12]:
## Now, onto genres
## Note:

query = '''

CREATE OR REPLACE TABLE genre_dim AS
(
    SELECT
        movieId
        , UNNEST(SPLIT(genres, '|')) AS genre
    FROM
        movies
)
'''

duckdb.sql(query)
duckdb.sql('SELECT * FROM genre_dim LIMIT 10').df()

   movieId      genre
0        1  Adventure
1        1  Animation
2        1   Children
3        1     Comedy
4        1    Fantasy
5        2  Adventure
6        2   Children
7        2    Fantasy
8        3     Comedy
9        3    Romance

### Dates

We are going to skip creating a dimension table for tags, because it only would include the tag itself (and possibly a tagId that we create). But, let's address dates. One thing about date dimension tables is that we should _not_ derive these from the data itself: we may not have data that covers every day. Since we know in advance what all possible dates are, we should create this type of table independently

Because this is a fairly standard table used in many different situations, I found an example [here, as a gist]( https://gist.github.com/adityawarmanfw/0612333605d351f2f1fe5c87e1af20d2) and made a quick modification to expand the date range.

This table is kind of overkill for this use! But, there are places (imagine sales analysis for a product/company) where all of the detailed date information is useful for grouping by

In [14]:

query = '''
CREATE OR REPLACE TABLE date_dim AS (
     WITH generate_date AS (
        SELECT CAST(RANGE AS DATE) AS date_key
          FROM RANGE(DATE '1900-01-01', DATE '2100-12-31', INTERVAL 1 DAY)
          )
   SELECT date_key AS date_key,
          DAYOFYEAR(date_key) AS day_of_year,
          YEARWEEK(date_key) AS week_key,
          WEEKOFYEAR(date_key) AS week_of_year,
          DAYOFWEEK(date_key) AS day_of_week,
          ISODOW(date_key) AS iso_day_of_week,
          DAYNAME(date_key) AS day_name,
          DATE_TRUNC('week', date_key) AS first_day_of_week,
          DATE_TRUNC('week', date_key) + 6 AS last_day_of_week,
          YEAR(date_key) || RIGHT('0' || MONTH(date_key), 2) AS month_key,
          MONTH(date_key) AS month_of_year,
          DAYOFMONTH(date_key) AS day_of_month,
          LEFT(MONTHNAME(date_key), 3) AS month_name_short,
          MONTHNAME(date_key) AS month_name,
          DATE_TRUNC('month', date_key) AS first_day_of_month,
          LAST_DAY(date_key) AS last_day_of_month,
          CAST(YEAR(date_key) || QUARTER(date_key) AS INT) AS quarter_key,
          QUARTER(date_key) AS quarter_of_year,
          CAST(date_key - DATE_TRUNC('Quarter', date_key) + 1 AS INT) AS day_of_quarter,
          ('Q' || QUARTER(date_key)) AS quarter_desc_short,
          ('Quarter ' || QUARTER(date_key)) AS quarter_desc,
          DATE_TRUNC('quarter', date_key) AS first_day_of_quarter,
          LAST_DAY(DATE_TRUNC('quarter', date_key) + INTERVAL 2 MONTH) as last_day_of_quarter,
          CAST(YEAR(date_key) AS INT) AS year_key,
          DATE_TRUNC('Year', date_key) AS first_day_of_year,
          DATE_TRUNC('Year', date_key) - 1 + INTERVAL 1 YEAR AS last_day_of_year,
          ROW_NUMBER() OVER (PARTITION BY YEAR(date_key), MONTH(date_key), DAYOFWEEK(date_key) ORDER BY date_key) AS ordinal_weekday_of_month
     FROM generate_date
)
'''

duckdb.sql(query)
duckdb.sql('SELECT * FROM date_dim LIMIT 10').df()

,date_key,day_of_year,week_key,week_of_year,day_of_week,iso_day_of_week,day_name,first_day_of_week,last_day_of_week,month_key,month_of_year,day_of_month,month_name_short,month_name,first_day_of_month,last_day_of_month,quarter_key,quarter_of_year,day_of_quarter,quarter_desc_short,quarter_desc,first_day_of_quarter,last_day_of_quarter,year_key,first_day_of_year,last_day_of_year,ordinal_weekday_of_month
0,1900-01-05,5,190001,1,5,5,Friday,1900-01-01,1900-01-07,190001,1,5,Jan,January,1900-01-01,1900-01-31,19001,1,5,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,1
1,1900-01-12,12,190002,2,5,5,Friday,1900-01-08,1900-01-14,190001,1,12,Jan,January,1900-01-01,1900-01-31,19001,1,12,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,2
2,1900-01-19,19,190003,3,5,5,Friday,1900-01-15,1900-01-21,190001,1,19,Jan,January,1900-01-01,1900-01-31,19001,1,19,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,3
3,1900-01-26,26,190004,4,5,5,Friday,1900-01-22,1900-01-28,190001,1,26,Jan,January,1900-01-01,1900-01-31,19001,1,26,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,4
4,1900-02-04,35,190005,5,0,7,Sunday,1900-01-29,1900-02-04,190002,2,4,Feb,February,1900-02-01,1900-02-28,19001,1,35,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,1
5,1900-02-11,42,190006,6,0,7,Sunday,1900-02-05,1900-02-11,190002,2,11,Feb,February,1900-02-01,1900-02-28,19001,1,42,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,2
6,1900-02-18,49,190007,7,0,7,Sunday,1900-02-12,1900-02-18,190002,2,18,Feb,February,1900-02-01,1900-02-28,19001,1,49,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,3
7,1900-02-25,56,190008,8,0,7,Sunday,1900-02-19,1900-02-25,190002,2,25,Feb,February,1900-02-01,1900-02-28,19001,1,56,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,4
8,1900-03-07,66,190010,10,3,3,Wednesday,1900-03-05,1900-03-11,190003,3,7,Mar,March,1900-03-01,1900-03-31,19001,1,66,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,1
9,1900-03-14,73,190011,11,3,3,Wednesday,1900-03-12,1900-03-18,190003,3,14,Mar,March,1900-03-01,1900-03-31,19001,1,73,Q1,Quarter 1,1900-01-01,1900-03-31,1900,1900-01-01,1900-12-31,2

In [15]:
# Fact tables
# We only need a few minor updates to the ratings table and will leave the tags table alone.

query = '''
CREATE OR REPLACE TABLE ratings_fact AS
(
    SELECT
          userId
        , movieId
        , rating
        , timestamp
        , DATE_TRUNC('day', MAKE_TIMESTAMP(1000000*timestamp) ) AS rating_date
    FROM
        ratings
)
'''
duckdb.sql(query)
duckdb.sql('SELECT * FROM ratings_fact LIMIT 10').df()

   userId  movieId  rating  timestamp rating_date
0       1        1     4.0  964982703  2000-07-30
1       1        3     4.0  964981247  2000-07-30
2       1        6     4.0  964982224  2000-07-30
3       1       47     5.0  964983815  2000-07-30
4       1       50     5.0  964982931  2000-07-30
5       1       70     3.0  964982400  2000-07-30
6       1      101     5.0  964980868  2000-07-30
7       1      110     4.0  964982176  2000-07-30
8       1      151     5.0  964984041  2000-07-30
9       1      157     5.0  964984100  2000-07-30

![schema](./movieLens_dimensional_schame_example.png)

In [17]:
## Most queries related to reviews are now straightforward queries starting from the "fact" table
## and then joining against various dimension tables.
## Query: Which movies have the most reviews?

duckdb.sql("""
SELECT
    m.title
    , AVG(r.rating) AS avg_rating
    , COUNT(r.rating) AS num_ratings
FROM
    ratings_fact r
LEFT JOIN
    movie_dim m
USING (movieId)
GROUP BY
    m.title
ORDER BY num_ratings DESC
LIMIT 10
""").df()

                                       title  avg_rating  num_ratings
0                        Forrest Gump (1994)    4.164134          329
1           Shawshank Redemption, The (1994)    4.429022          317
2                        Pulp Fiction (1994)    4.197068          307
3           Silence of the Lambs, The (1991)    4.161290          279
4                         Matrix, The (1999)    4.192446          278
5  Star Wars: Episode IV - A New Hope (1977)    4.231076          251
6                       Jurassic Park (1993)    3.750000          238
7                          Braveheart (1995)    4.031646          237
8          Terminator 2: Judgment Day (1991)    3.970982          224
9                    Schindler's List (1993)    4.225000          220

## Query: Do people write more reviews on weekends?

duckdb.sql("""
SELECT
    d.day_name
     , AVG(r.rating) AS avg_rating
    , COUNT(r.rating) AS num_ratings
FROM
    ratings_fact r
LEFT JOIN
    date_dim d
ON r.rating_date = d.date_key
GROUP BY
    d.day_name
ORDER BY num_ratings DESC
LIMIT 10
""").df()

# Blank spaces for extra queries in class

# Creating a design matrix

Our design matrix is going to have _users_ for rows.

Conveniently, we have a user dimension table that we can use as our starting point. Let's create our design matrix table, along with the first few features.

To start, we can make the following features:
* date_joined
* Number of Movie Reviews
* Average rating

I am going to name this table the "driver" table. Because the process of creating features can be many steps, it is a good pattern to first create a basic shell of the table you want in the end, where every thing (user) you want to analyze/model has it's own row.

In [21]:
query = '''

CREATE OR REPLACE TABLE driver AS

(
    SELECT
          u.userId
        , COUNT(*) AS number_reviews
        , AVG(rating) AS average_rating
    FROM
        user_dim u
    LEFT JOIN
        ratings_fact r
    USING (userId)
    GROUP BY u.userID
)

'''

duckdb.sql(query)
duckdb.sql("SELECT * FROM driver LIMIT 10").df()

   userId  number_reviews  average_rating
0       1             232        4.366379
1       2              29        3.948276
2       3              39        2.435897
3       4             216        3.555556
4       5              44        3.636364
5       6             314        3.493631
6       7             152        3.230263
7       8              47        3.574468
8       9              46        3.260870
9      10             140        3.278571

### Adding some genre features

Perhaps we want to create features based on the average rating of movies by the user for each genre.

That will require a column per genre.

Lets look at how many genres there are

In [23]:
duckdb.sql("SELECT DISTINCT genre FROM genre_dim").df()

                 genre
0               Comedy
1              Romance
2                Crime
3            Animation
4                 IMAX
5             Children
6             Thriller
7              Western
8              Fantasy
9               Action
10              Sci-Fi
11              Horror
12             Mystery
13             Musical
14         Documentary
15  (no genres listed)
16           Adventure
17               Drama
18                 War
19           Film-Noir

In [24]:
query = '''
CREATE OR REPLACE TABLE driver2 AS (
    WITH genre_rating AS (

        SELECT
              userId
            , rating
            , g.genre
        FROM
            ratings_fact r
        LEFT JOIN
            genre_dim g
        USING (movieId)

    )
    , genre_features AS (
        PIVOT genre_rating
        ON  genre
        USING
            AVG(rating) AS avg_rating_genre_feature
            , COUNT(rating) AS num_rating_genre_feature
    )

    SELECT
        *
        FROM
            driver d
        LEFT JOIN
            genre_features gf
        USING (userId)
)
'''
duckdb.sql(query)
duckdb.sql("SELECT * FROM driver2 LIMIT 100").df()

,userId,number_reviews,average_rating,(no genres listed)_avg_rating_genre_feature,(no genres listed)_num_rating_genre_feature,Action_avg_rating_genre_feature,Action_num_rating_genre_feature,Adventure_avg_rating_genre_feature,Adventure_num_rating_genre_feature,Animation_avg_rating_genre_feature,Animation_num_rating_genre_feature,Children_avg_rating_genre_feature,Children_num_rating_genre_feature,Comedy_avg_rating_genre_feature,Comedy_num_rating_genre_feature,Crime_avg_rating_genre_feature,Crime_num_rating_genre_feature,Documentary_avg_rating_genre_feature,Documentary_num_rating_genre_feature,Drama_avg_rating_genre_feature,Drama_num_rating_genre_feature,Fantasy_avg_rating_genre_feature,Fantasy_num_rating_genre_feature,Film-Noir_avg_rating_genre_feature,Film-Noir_num_rating_genre_feature,Horror_avg_rating_genre_feature,Horror_num_rating_genre_feature,IMAX_avg_rating_genre_feature,IMAX_num_rating_genre_feature,Musical_avg_rating_genre_feature,Musical_num_rating_genre_feature,Mystery_avg_rating_genre_feature,Mystery_num_rating_genre_feature,Romance_avg_rating_genre_feature,Romance_num_rating_genre_feature,Sci-Fi_avg_rating_genre_feature,Sci-Fi_num_rating_genre_feature,Thriller_avg_rating_genre_feature,Thriller_num_rating_genre_feature,War_avg_rating_genre_feature,War_num_rating_genre_feature,Western_avg_rating_genre_feature,Western_num_rating_genre_feature
0,1,232,4.366379,NaN,0,4.322222,90,4.388235,85,4.689655,29,4.547619,42,4.277108,83,4.355556,45,NaN,0,4.529412,68,4.297872,47,5.000000,1,3.470588,17,NaN,0,4.681818,22,4.166667,18,4.307692,26,4.225000,40,4.145455,55,4.500000,22,4.285714,7
1,2,29,3.948276,NaN,0,3.954545,11,4.166667,3,NaN,0,NaN,0,4.000000,7,3.800000,10,4.333333,3,3.882353,17,NaN,0,NaN,0,3.000000,1,3.750000,4,NaN,0,4.000000,2,4.500000,1,3.875000,4,3.700000,10,4.500000,1,3.500000,1
2,3,39,2.435897,NaN,0,3.571429,14,2.727273,11,0.500000,4,0.500000,5,1.000000,9,0.500000,2,NaN,0,0.750000,16,3.375000,4,NaN,0,4.687500,8,NaN,0,0.500000,1,5.000000,1,0.500000,5,4.200000,15,4.142857,7,0.500000,5,NaN,0
3,4,216,3.555556,NaN,0,3.320000,25,3.655172,29,4.000000,6,3.800000,10,3.509615,104,3.814815,27,4.000000,2,3.483333,120,3.684211,19,4.000000,4,4.250000,4,3.000000,1,4.000000,16,3.478261,23,3.379310,58,2.833333,12,3.552632,38,3.571429,7,3.800000,10
4,5,44,3.636364,NaN,0,3.111111,9,3.250000,8,4.333333,6,4.111111,9,3.466667,15,3.833333,12,NaN,0,3.800000,25,4.142857,7,NaN,0,3.000000,1,3.666667,3,4.400000,5,4.000000,1,3.090909,11,2.500000,2,3.555556,9,3.333333,3,3.000000,2
5,6,314,3.493631,NaN,0,3.609375,64,3.893617,47,4.071429,14,3.617021,47,3.370079,127,3.285714,35,NaN,0,3.614286,140,3.538462,26,2.500000,2,3.263158,19,4.666667,3,4.166667,12,3.733333,15,3.614286,70,3.476190,21,3.544118,68,3.583333,12,3.818182,11
6,7,152,3.230263,NaN,0,3.257812,64,3.314815,54,3.392857,14,3.200000,15,3.163265,49,3.307692,26,NaN,0,3.131579,57,3.065217,23,3.250000,2,4.000000,5,2.454545,11,3.666667,9,3.178571,14,2.650000,30,3.154762,42,3.430233,43,3.291667,12,1.500000,1
7,8,47,3.574468,NaN,0,3.333333,12,3.545455,11,5.000000,1,4.250000,4,3.208333,24,3.888889,9,NaN,0,3.789474,19,3.250000,4,NaN,0,4.500000,2,4.500000,2,5.000000,1,4.000000,3,3.500000,14,3.250000,4,3.750000,16,3.666667,3,3.000000,2
8,9,46,3.260870,NaN,0,3.125000,8,3.800000,10,4.000000,1,4.000000,1,3.666667,15,3.142857,7,NaN,0,3.428571,21,5.000000,2,4.000000,1,1.800000,5,3.000000,1,3.000000,1,4.000000,3,3.166667,6,3.000000,8,2.545455,11,3.500000,2,4.000000,1
9,10,140,3.278571,NaN,0,3.500000,26,3.580645,31,3.866667,15,3.607143,14,3.265823,79,3.115385,13,NaN,0,3.152778,72,3.441176,17,NaN,0,1.750000,2,3.361111,18,3.333333,9,2.166667,3,3.333333,78,2.000000,5,3.076923,13,3.750000,4,NaN,0
10,11,64,3.781250,NaN,0,3.543478,46,3.555556,18,NaN,0,NaN,0,3.416667,12,3.692308,13,NaN,0,4.166667,24,2.000000,1,NaN,0,5.000000,1,5.000000,1,NaN,0,4.333333,3,4.230769,13,3.500000,10,3.656250,32,4.333333,6,4.000000,2
11,12,32,4.390625,NaN,0,4.000000,2,3.000000,2,3.000000,1,NaN,0,4.305556,18,3.000000,1,NaN,0,4.562500,16,4.250000,4,NaN,0,NaN,0,NaN,0,NaN,0,NaN,0,4.571429,21,4.500000,3,4.000000,3,4.500000,1,NaN,0
12,13,31,3.645161,NaN,0,4.200000,10,4.166667,6,NaN,0,NaN,0,3.272727,11,3.666667,3,NaN,0,3.500000,16,3.000000,1,NaN,0,4.000000,5,NaN,0,NaN,0,4.500000,2,3.666667,6,4.200000,5,3.818182,11,3.500000,2,4.000000,1
13,17,105,4.209524,NaN,0,4.230769,39,4.285714,35,4.400000,10,4.214286,7,4.157895,19,4.250000,32,3.500000,1,4.186275,51,4.323529,17,3.750000,2,4.166667,3,4.166667,6,4.000000,3,4.050000,10,3.928571,7,4.400000,20,4.277778,27,4.444444,9,4.250000,6
14,18,502,3.732072,NaN,0,3.588517,209,3.633803,142,3.758065,31,3.542857,35,3.506757,148,3.934783,138,3.944444,9,3.894495,218,3.644231,52,3.875000,8,3.300000,15,3.675676,37,3.708333,12,4.026786,56,3.681818,44,3.640909,110,3.792899,169,3.937500,16,4.181818,11
15,19,703,2.607397,NaN,0,2.726667,150,2.815287,157,2.937500,48,2.696078,102,2.640212,378,2.902778,72,NaN,0,2.609272,151,2.833333,96,3.333333,9,2.267857,112,3.000000,1,2.837838,37,2.965517,58,2.679104,134,2.559055,127,2.546798,203,3.000000,9,2.545455,11
16,20,242,3.590909,NaN,0,2.755319,47,3.441860,86,4.184615,65,3.909910,111,3.671429,105,3.240000,25,3.750000,2,3.809859,71,3.864583,48,1.500000,1,3.125000,12,4.600000,5,4.472727,55,3.218750,16,3.987500,40,3.227273,22,2.729730,37,3.500000,4,1.500000,2
17,21,443,3.260722,4.000000,1,3.455752,226,3.663842,177,3.241379,58,3.204918,61,3.201493,201,3.178082,73,NaN,0,2.952128,94,3.087302,63,3.500000,2,1.766667,15,3.596491,57,2.800000,15,3.361111,18,3.238462,65,3.448113,106,3.545082,122,3.625000,8,4.000000,4
18,22,119,2.571429,NaN,0,2.783333,30,2.346154,26,2.708333,12,2.750000,12,2.487179,39,2.533333,30,2.000000,5,2.609589,73,1.875000,16,4.500000,1,2.500000,6,1.750000,6,4.500000,1,2.458333,12,2.204545,22,2.100000,15,2.783333,30,2.333333,6,4.000000,1
19,23,121,3.648760,NaN,0,3.537037,27,3.388889,18,3.800000,10,3.500000,3,3.416667,24,3.653846,39,3.250000,2,3.642857,77,3.821429,14,3.954545,11,4.000000,3,3.000000,1,NaN,0,4.068182,22,3.333333,12,3.911765,17,3.723684,38,3.750000,6,3.500000,3
20,24,110,3.650000,NaN,0,3.642857,56,3.651515,33,4.250000,2,4.250000,2,3.590000,50,3.913043,23,NaN,0,3.687500,40,3.733333,15,NaN,0,3.625000,4,3.850000,10,3.500000,1,3.769231,13,3.545455,33,3.640000,25,3.647059,34,3.714286,7,NaN,0
21,25,26,4.807692,NaN,0,4.833333,15,4.750000,14,4.666667,3,4.666667,3,4.500000,2,5.000000,4,NaN,0,4.958333,12,5.000000,3,NaN,0,NaN,0,5.000000,3,NaN,0,4.750000,2,5.000000,1,4.722222,9,4.875000,4,5.000000,4,NaN,0
22,26,21,3.238095,NaN,0,3.000000,10,2.666667,6,NaN,0,3.000000,1,3.200000,5,3.500000,8,NaN,0,3.250000,8,NaN,0,NaN,0,4.000000,1,3.000000,1,NaN,0,4.000000,1,3.000000,2,2.000000,1,3.428571,14,3.000000,1,NaN,0
23,27,135,3.548148,NaN,0,3.642857,42,3.644068,59,3.363636,22,3.244898,49,3.400000,50,3.571429,7,NaN,0,3.800000,45,3.363636,22,4.000000,1,1.500000,2,4.000000,2,3.923077,13,4.333333,3,4.130435,23,3.375000,32,3.428571,14,3.600000,15,3.900000,10
24,30,34,4.735294,NaN,0,4.720000,25,4.789474,19,4.600000,5,4.666667,3,4.600000,5,4.857143,7,NaN,0,5.000000,7,4.750000,4,NaN,0,3.000000,1,5.000000,8,NaN,0,5.000000,1,5.000000,2,4.647059,17,4.300000,5,5.000000,1,NaN,0
25,31,50,3.920000,NaN,0,4.333333,15,4.000000,15,4.000000,5,4.142857,7,3.863636,22,3.333333,3,5.000000,1,3.666667,15,3.700000,10,NaN,0,3.500000,2,NaN,0,4.600000,5,5.000000,1,3.750000,16,3.777778,9,4.454545,11,5.000000,1,NaN,0
26,33,156,3.788462,NaN,0,4.000000,14,3.900000,10,3.833333,6,3.875000,8,3.827586,58,3.923077,26,NaN,0,3.791304,115,3.500000,6,5.000000,2,4.500000,2,3.000000,1,4.000000,6,3.666667,9,3.854545,55,4.142857,7,3.633333,30,4.125000,8,4.000000,1
27,34,86,3.418605,NaN,0,3.735294,51,3.807692,26,3.642857,7,2.750000,2,3.202703,37,3.772727,11,2.000000,1,3.250000,24,3.250000,14,NaN,0,3.444444,9,3.166667,3,NaN,0,3.071429,7,3.100000,20,3.347826,23,3.769231,26,2.100000,5,3.500000,2
28,35,23,4.086957,NaN,0,4.000000,4,4.200000,5,3.000000,1,4.000000,2,3.900000,10,4.750000,4,NaN,0,4.222222,9,4.000000,2,NaN,0,NaN,0,4.000000,2,3.000000,1,5.000000,1,3.555556,9,3.000000,1,4.750000,4,2.000000,1,3.500000,2
29,36,60,2.633333,NaN,0,2.638889,18,2.807692,13,NaN,0,1.833333,3,2.347826,23,2.735294,17,NaN,0,2.555556,27,2.000000,3,3.250000,2,3.000000,1,NaN,0,1.500000,1,3.000000,10,2.346154,13,2.300000,5,2.892857,14,2.900000,5,2.000000,1
30,38,78,3.217949,NaN,0,3.052632,19,2.937500,16,3.200000,5,3.125000,8,3.200000,35,3.333333,9,5.000000,1,3.285714,35,3.142857,7,NaN,0,2.000000,3,3.333333,3,3.200000,5,4.333333,3,3.111111,27,2.333333,6,3.388889,18,3.714286,7,2.600000,5
31,39,100,4.000000,NaN,0,4.250000,28,3.875000,32,3.291667,24,3.130435,23,4.000000,28,4.400000,25,NaN,0,4.114286,35,3.750000,16,3.500000,2,4.461538,13,4.000000,1,3.125000,16,3.750000,8,3.600000,10,4.000000,21,4.217391,23,4.000000,1,4.000000,1
32,40,103,3.766990,NaN,0,3.521739,23,3.478261,23,3.625000,8,3.722222,18,3.634146,41,4.000000,13,NaN,0,4.200000,50,3.750000,12,NaN,0,2.666667,3,4.333333,3,3.428571,7,4.333333,3,3.681818,22,3.000000,11,3.866667,15,4.000000,3,4.000000,6
33,41,217,3.253456,NaN,0,2.525641,39,2.681818,33,3.666667,12,3.222222,9,3.403409,88,3.384615,52,1.500000,2,3.434615,130,2.750000,20,4.250000,2,2.958333,12,1.500000,6,3.000000,3,3.300000,20,3.316667,60,2.300000,20,3.267857,56,2.923077,13,4.000000,2
34,42,440,3.565909,NaN,0,3.400000,125,3.513889,72,4.000000,5,2.928571,14,3.412322,211,3.746479,71,4.333333,3,3.818713,171,3.590909,22,3.500000,2,3.000000,17,4.500000,2,3.857143,7,3.962963,27,3.640449,89,3.250000,44,3.577586,116,3.809524,21,3.916667,12
35,43,114,4.552632,NaN,0,4.322581,31,4.676471,34,5.000000,13,4.937500,32,4.522727,44,4.250000,16,NaN,0,4.428571,42,4.882353,17,NaN,0,4.600000,5,5.000000,3,5.000000,12,4.500000,4,4.520000,25,4.666667,15,4.310345,29,4.000000,3,4.000000,3
36,45,399,3.875940,NaN,0,4.009434,106,4.015152,99,4.435484,31,3.861111,54,3.685520,221,4.196078,51,4.000000,1,4.037190,121,3.755556,45,NaN,0,4.031250,16,4.714286,7,4.296296,27,4.210526,19,3.920290,69,3.720000,75,4.017647,85,4.428571,14,3.666667,3
37,46,42,4.000000,NaN,0,3.888889,18,4.076923,13,5.000000,4,5.000000,4,3.916667,12,4.000000,12,NaN,0,4.000000,15,4.666667,3,NaN,0,4.500000,2,5.000000,2,5.000000,3,4.333333,3,4.500000,6,4.000000,7,3.944444,18,4.333333,3,4.333333,3
38,47,140,3.053571,NaN,0,2.812500,8,2.950000,10,NaN,0,3.000000,3,2.471429,35,3.275000,20,3.285714,7,3.224299,107,2.500000,7,NaN,0,2.083333,6,2.916667,6,2.928571,7,2.687500,8,2.896552,29,2.850000,10,2.840909,22,3.500000,5,3.500000,1
39,48,33,4.030303,NaN,0,4.022727,22,4.038462,13,4.375000,4,4.375000,4,4.187500,8,4.250000,2,NaN,0,4.000000,8,4.500000,5,NaN,0,4.333333,3,4.250000,2,4.250000,2,4.500000,2,4.000000,4,4.166667,18,3.966667,15,NaN,0,NaN,0
40,49,21,4.261905,NaN,0,4.357143,7,4.250000,4,4.000000,4,4.100000,5,4.000000,5,4.166667,3,NaN,0,4.350000,10,NaN,0,NaN,0,4.250000,2,4.333333,3,NaN,0,4.250000,2,4.000000,1,4.333333,9,4.250000,4,4.250000,4,NaN,0
41,50,310,2.780645,2.750000,2,2.450617,81,2.475000,80,2.622642,53,2.261905,42,2.590909,121,2.933333,45,3.142857,14,3.039683,126,2.829545,44,3.500000,2,2.625000,16,2.068182,22,2.566667,15,3.225000,20,2.818182,33,2.550000,50,2.824561,57,3.454545,11,3.166667,6
42,51,359,3.775766,NaN,0,3.478022,91,3.591549,71,3.058824,17,3.133333,30,3.804878,164,3.846154,52,5.000000,2,4.066667,120,3.875000,40,4.166667,3,3.759615,52,3.250000,6,3.607143,14,3.695652,23,3.970588,68,3.774194,62,3.459770,87,4.272727,11,3.555556,9
43,52,130,4.476923,NaN,0,4.534247,73,4.589744,39,4.464286,14,4.461538,13,4.428571,35,4.625000,36,4.500000,3,4.421875,64,4.545455,11,NaN,0,4.333333,6,4.500000,16,4.666667,3,4.666667,12,4.388889,18,4.592593,27,4.578431,51,4.375000,12,4.000000,2
44,53,20,5.000000,NaN,0,5.000000,4,5.000000,1,NaN,0,NaN,0,5.000000,6,5.000000,2,NaN,0,5.000000,10,NaN,0,5.000000,1,5.000000,1,NaN,0,5.000000,2,5.000000,1,5.000000,6,5.000000,2,5.000000,3,5.000000,1,NaN,0
45,54,33,3.030303,NaN,0,2.857143,7,3.000000,6,3.000000,3,2.800000,5,2.923077,13,3.125000,8,NaN,0,3.133333,15,3.000000,3,NaN,0,4.000000,1,3.000000,2,3.000000,2,3.000000,3,3.166667,6,3.000000,4,3.000000,14,3.333333,3,3.000000,1
46,55,25,2.840000,NaN,0,2.900000,10,2.625000,4,0.500000,1,1.250000,2,2.555556,9,4.350000,10,NaN,0,2.916667,12,1.750000,4,NaN,0,NaN,0,NaN,0,0.500000,1,3.500000,2,0.500000,5,1.333333,3,4.055556,9,2.250000,2,NaN,0
47,56,46,3.804348,NaN,0,3.583333,24,3.916667,12,5.000000,1,4.000000,2,3.937500,16,3.538462,13,NaN,0,3.941176,17,3.333333,3,NaN,0,3.666667,3,5.000000,1,5.000000,1,4.000000,2,4.250000,4,3.555556,9,3.809524,21,4.333333,3,NaN,0
48,57,476,3.392857,NaN,0,3.207865,178,3.355556,135,3.757576,33,3.348837,43,3.401961,204,3.463768,69,4.000000,1,3.549133,173,3.420000,50,4.153846,13,2.823529,17,3.750000,4,3.714286,28,3.794118,34,3.400000,100,3.147368,95,3.156250,128,4.147059,34,3.684211,19
49,58,112,3.901786,NaN,0,3.807692,26,3.764706,17,4.375000,8,4.272727,11,3.765957,47,3.647059,17,NaN,0,4.020408,49,4.000000,11,NaN,0,2.333333,3,4.333333,3,4.444444,9,4.500000,6,4.000000,30,3.700000,10,4.031250,32,4.200000,5,3.333333,3
50,59,107,4.355140,NaN,0,4.000000,34,3.681818,22,3.000000,3,3.000000,3,3.958333,24,4.222222,18,4.500000,2,4.677966,59,3.250000,8,4.666667,6,5.000000,5,5.000000,1,NaN,0,4.500000,18,4.600000,20,3.846154,13,4.400000,40,4.720000,25,NaN,0
51,60,22,3.727273,NaN,0,4.000000,3,3.500000,6,3.500000,2,3.400000,5,3.500000,2,4.000000,6,NaN,0,3.933333,15,3.000000,2,NaN,0,NaN,0,5.000000,1,3.500000,2,3.500000,2,3.400000,5,NaN,0,3.500000,6,4.000000,3,NaN,0
52,62,366,4.081967,4.500000,3,3.988024,167,3.933333,135,3.392857,14,3.645833,24,3.873626,91,4.468254,63,NaN,0,4.281250,144,3.894366,71,4.500000,1,4.023810,21,4.058824,51,3.416667,6,4.220930,43,3.782609,46,3.973913,115,4.152174,115,4.157895,19,4.500000,5
53,63,271,3.630996,NaN,0,3.583333,108,3.528090,89,4.242424,33,3.800000,30,3.750000,110,3.794643,56,4.357143,7,3.600000,95,3.592105,38,4.400000,5,3.041667,12,3.380952,21,4.200000,10,3.904762,21,3.500000,33,3.413793,58,3.536232,69,3.468750,16,4.000000,1
54,64,517,3.768859,NaN,0,3.654472,123,3.757282,103,3.878788,33,3.816327,49,3.662791,215,3.882979,94,4.083333,6,3.917722,237,3.820896,67,4.000000,3,3.736364,55,3.714286,7,3.785714,28,3.669643,56,3.707547,106,3.508333,60,3.669065,139,4.314815,27,3.944444,9
55,65,34,4.029412,NaN,0,3.966667,15,3.785714,7,NaN,0,NaN,0,3.700000,5,4.181818,11,NaN,0,4.120000,25,3.625000,4,NaN,0,NaN,0,4.333333,6,NaN,0,4.250000,6,3.666667,3,4.055556,9,4.083333,12,3.833333,6,NaN,0
56,66,345,4.020290,NaN,0,3.839806,103,3.913043,69,4.187500,16,3.973684,19,3.955782,147,4.068966,58,NaN,0,4.196667,150,4.100000,40,4.875000,4,3.923077,26,5.000000,1,4.250000,6,4.220000,25,4.279661,59,3.787234,47,3.969136,81,4.392857,14,4.550000,10
57,67,36,3.972222,NaN,0,4.119048,21,3.607143,14,3.900000,5,3.900000,5,4.323529,17,4.200000,10,NaN,0,4.038462,13,3.083333,6,NaN,0,NaN,0,4.000000,1,NaN,0,3.500000,2,3.875000,4,4.055556,9,4.222222,9,4.333333,3,3.750000,2
58,68,1260,3.233730,NaN,0,3.341250,400,3.410653,291,3.331250,80,3.107477,107,3.174858,529,3.216216,185,3.787879,33,3.217791,489,3.290780,141,3.833333,3,2.844660,103,3.859649,57,3.037037,54,3.121951,82,3.331597,288,3.198020,202,3.206325,332,3.336735,49,3.386364,22
59,69,46,4.369565,NaN,0,4.444444,18,4.333333,12,NaN,0,NaN,0,4.666667,9,4.571429,7,NaN,0,4.315789,19,5.000000,1,4.000000,1,3.833333,6,NaN,0,NaN,0,4.600000,5,4.250000,4,4.352941,17,4.153846,13,4.000000,2,5.000000,4
60,70,62,4.322581,NaN,0,3.750000,4,4.375000,8,4.000000,1,4.625000,4,4.138889,18,4.357143,7,4.500000,2,4.411765,51,4.625000,4,NaN,0,4.500000,1,4.000000,1,NaN,0,4.000000,2,4.464286,14,4.250000,6,3.000000,3,4.300000,5,4.000000,1
61,71,35,3.600000,NaN,0,3.857143,21,3.812500,16,5.000000,1,3.800000,5,3.625000,8,3.200000,5,NaN,0,3.111111,9,4.000000,4,NaN,0,NaN,0,NaN,0,3.000000,1,3.500000,2,3.857143,7,3.363636,11,3.733333,15,4.000000,1,NaN,0
62,72,45,4.155556,NaN,0,4.147059,17,4.200000,10,NaN,0,NaN,0,3.833333,9,4.500000,8,NaN,0,4.150000,20,NaN,0,NaN,0,4.333333,3,4.250000,2,NaN,0,4.375000,4,4.125000,8,4.250000,10,4.214286,14,4.375000,4,4.000000,1
63,73,210,3.711905,NaN,0,4.132353,68,3.951613,62,3.420000,25,3.380000,25,3.504032,124,4.074074,27,NaN,0,3.866197,71,3.680000,25,NaN,0,3.800000,5,4.038462,26,3.100000,5,4.375000,12,3.351351,37,3.945946,37,4.132353,34,4.800000,5,4.750000,2
64,75,69,3.231884,NaN,0,3.214286,35,3.384615,26,4.200000,5,4.200000,5,3.812500,8,3.150000,10,NaN,0,2.980000,25,3.388889,9,NaN,0,3.500000,4,4.500000,1,4.333333,3,2.964286,14,3.227273,11,2.948276,29,3.220000,25,2.375000,4,4.500000,2
65,76,119,3.084034,NaN,0,3.161765,34,2.517241,29,0.555556,9,0.769231,13,2.641026,39,3.652778,36,3.500000,1,3.192308,52,1.968750,16,NaN,0,3.933333,15,3.000000,7,0.750000,4,3.633333,15,1.727273,11,3.200000,25,3.576923,39,3.111111,9,2.800000,5
66,77,29,4.000000,NaN,0,4.421053,19,4.928571,14,5.000000,1,5.000000,1,3.625000,4,3.500000,5,NaN,0,3.277778,9,4.800000,5,NaN,0,NaN,0,4.416667,6,NaN,0,2.125000,4,3.166667,3,4.045455,11,2.937500,8,NaN,0,NaN,0
67,78,61,3.163934,NaN,0,3.308824,34,3.000000,25,2.250000,2,2.500000,3,3.160714,28,3.333333,12,NaN,0,2.833333,12,2.500000,3,NaN,0,2.500000,4,4.000000,2,1.500000,1,2.333333,3,3.500000,6,3.026316,19,3.140000,25,3.000000,3,2.000000,1
68,79,64,4.203125,NaN,0,4.200000,40,4.250000,20,NaN,0,NaN,0,4.142857,14,4.500000,12,4.333333,6,3.956522,23,4.000000,4,5.000000,1,4.166667,6,NaN,0,4.500000,4,4.500000,2,4.000000,6,4.357143,14,4.217391,23,4.000000,6,NaN,0
69,80,167,4.260479,NaN,0,4.357143,77,4.196970,33,4.000000,1,4.000000,3,3.818182,11,4.430233,43,NaN,0,4.278571,70,4.346154,13,4.000000,1,4.127660,47,4.270833,24,NaN,0,4.472222,36,4.375000,4,4.190909,55,4.292373,118,4.083333,6,NaN,0
70,81,26,2.769231,NaN,0,2.769231,13,2.454545,11,2.000000,2,2.000000,2,1.875000,8,2.714286,7,NaN,0,2.875000,8,1.000000,1,NaN,0,NaN,0,2.500000,2,2.000000,2,4.000000,2,2.333333,3,3.833333,6,3.083333,12,2.666667,3,NaN,0
71,82,227,3.381057,NaN,0,3.547826,115,3.371622,74,3.038462,13,2.608696,23,3.473451,113,3.451923,52,3.000000,1,3.322917,48,3.250000,26,1.000000,1,3.357143,14,3.250000,2,3.214286,7,3.142857,14,3.382353,34,3.526316,38,3.303030,66,3.857143,7,3.625000,8
72,83,118,3.309322,NaN,0,3.000000,41,3.181818,33,3.450000,10,3.166667,9,3.000000,23,3.392857,14,2.000000,1,3.630137,73,3.200000,15,NaN,0,2.500000,10,3.727273,11,4.125000,4,3.333333,12,3.675000,20,3.400000,25,3.107143,28,3.437500,24,0.500000,1
73,84,293,3.689420,NaN,0,3.562500,32,3.560000,25,3.000000,2,3.352941,17,3.487179,117,3.727273,33,3.750000,4,3.884848,165,3.562500,16,3.666667,3,3.545455,11,5.000000,1,3.764706,17,3.933333,15,3.698925,93,3.357143,14,3.574468,47,4.352941,17,4.000000,8
74,85,34,3.705882,NaN,0,1.000000,1,5.000000,1,NaN,0,5.000000,1,3.333333,6,2.000000,1,NaN,0,3.833333,30,5.000000,1,NaN,0,NaN,0,NaN,0,NaN,0,3.666667,3,4.000000,6,2.000000,2,3.000000,1,3.666667,3,NaN,0
75,86,70,3.928571,NaN,0,3.854839,31,3.910714,28,4.041667,12,4.045455,11,4.071429,14,4.111111,9,NaN,0,3.944444,27,3.944444,18,NaN,0,4.000000,2,3.857143,7,4.000000,2,4.250000,6,3.852941,17,3.911765,17,3.916667,18,3.166667,6,4.000000,1
76,87,21,3.952381,NaN,0,3.000000,3,3.900000,5,4.333333,3,3.800000,5,4.222222,9,NaN,0,NaN,0,3.909091,11,4.300000,5,NaN,0,3.500000,2,NaN,0,4.000000,1,4.000000,1,4.250000,2,3.642857,7,3.666667,3,NaN,0,NaN,0
77,88,56,4.035714,NaN,0,4.235294,17,4.571429,7,NaN,0,0.500000,2,3.208333,12,4.558824,17,NaN,0,4.166667,33,4.700000,5,NaN,0,4.166667,3,4.666667,3,NaN,0,4.250000,10,3.500000,3,3.785714,7,4.309524,21,4.250000,4,4.000000,2
78,89,518,3.472973,3.000000,1,3.377193,57,3.522989,87,4.022222,90,3.893939,99,3.465481,478,3.318182,44,4.500000,4,3.410377,106,3.464912,57,NaN,0,4.235294,34,4.125000,8,3.052632,19,3.700000,15,3.090909,110,3.378788,33,3.738095,21,3.461538,13,4.500000,4
79,90,54,4.074074,NaN,0,4.000000,3,3.750000,4,3.000000,1,3.500000,2,4.045455,22,4.400000,5,4.250000,4,4.212121,33,3.500000,2,NaN,0,4.000000,1,NaN,0,4.333333,3,4.000000,1,4.277778,18,4.000000,4,4.000000,6,4.000000,1,NaN,0

## Null values

OK, so one thing that you might notice here are some null values

There appear to be very few people who rate movies with no genre listed (even looking at more rows, you will see this)

But, even for relatively common genres, like `Children`, not everyone rates those

Dealing with null values is a common problem in data mining. While some tools may handle these values gracefully, it is nearly always better to deal with null values yourself.

There are a lot of different ways we can deal with nulls:

* For a column like `(no genres listed)_avg_rating_genre_feature` because there are so many null values, it may be best to just drop that column entirely
* Dropping rows (users) is a trickier process, because those are what we are studying. If there's a row that has very poor data, perhaps we can drop it from our study, but we then need to understand what we do when similar rows
* We can replace null values with some other number. This is called **_imputation_**

Some common imputation strategies are:

* Replace all nulls with zeros:
    * This is simple and would work well if the 0 is a reasonable value to take. In this case, saying a user who has not rated any children's movies would rate them all as 0 (out of 5) is stating that that user _hates_ children's movies.
* Replace all nulls with some sort of average (also called _mean imputation_)
    * We could replace the null children's average rating with either the average rating of that user or, possibly, the average rating of all children's movies.
* You could try to do something more sophisticated, by inferring what value it should have.

We will just use a mean imputation, assigning the user's average rating to all null genres.

In [26]:
duckdb.sql("DESCRIBE TABLE driver2").df()['column_name'].to_list()

['userId',
 'number_reviews',
 'average_rating',
 '(no genres listed)_avg_rating_genre_feature',
 '(no genres listed)_num_rating_genre_feature',
 'Action_avg_rating_genre_feature',
 'Action_num_rating_genre_feature',
 'Adventure_avg_rating_genre_feature',
 'Adventure_num_rating_genre_feature',
 'Animation_avg_rating_genre_feature',
 'Animation_num_rating_genre_feature',
 'Children_avg_rating_genre_feature',
 'Children_num_rating_genre_feature',
 'Comedy_avg_rating_genre_feature',
 'Comedy_num_rating_genre_feature',
 'Crime_avg_rating_genre_feature',
 'Crime_num_rating_genre_feature',
 'Documentary_avg_rating_genre_feature',
 'Documentary_num_rating_genre_feature',
 'Drama_avg_rating_genre_feature',
 'Drama_num_rating_genre_feature',
 'Fantasy_avg_rating_genre_feature',
 'Fantasy_num_rating_genre_feature',
 'Film-Noir_avg_rating_genre_feature',
 'Film-Noir_num_rating_genre_feature',
 'Horror_avg_rating_genre_feature',
 'Horror_num_rating_genre_feature',
 'IMAX_avg_rating_genre_feature',
 'IMAX_num_rating_genre_feature',
 'Musical_avg_rating_genre_feature',
 'Musical_num_rating_genre_feature',
 'Mystery_avg_rating_genre_feature',
 'Mystery_num_rating_genre_feature',
 'Romance_avg_rating_genre_feature',
 'Romance_num_rating_genre_feature',
 'Sci-Fi_avg_rating_genre_feature',
 'Sci-Fi_num_rating_genre_feature',
 'Thriller_avg_rating_genre_feature',
 'Thriller_num_rating_genre_feature',
 'War_avg_rating_genre_feature',
 'War_num_rating_genre_feature',
 'Western_avg_rating_genre_feature',
 'Western_num_rating_genre_feature']

In [27]:
query_snippet = '''

CREATE OR REPLACE TABLE user_matrix AS (

    SELECT
        userId'''


for column in duckdb.sql("DESCRIBE TABLE driver2").df()['column_name'].to_list():
    if 'no genres' not in column and 'userId' not in column:
        if 'genre_feature' not in column or 'num_rating' in column:
            query_snippet += f'''\n\t\t, "{column}"'''
        else:
            query_snippet += f'''\n\t\t, COALESCE("{column}", "average_rating") AS "{column}" '''

query_snippet += """
    FROM
        driver2
)"""
print(query_snippet)

CREATE OR REPLACE TABLE user_matrix AS (

    SELECT
        userId
		, "number_reviews"
		, "average_rating"
		, COALESCE("Action_avg_rating_genre_feature", "average_rating") AS "Action_avg_rating_genre_feature"
		, "Action_num_rating_genre_feature"
		, COALESCE("Adventure_avg_rating_genre_feature", "average_rating") AS "Adventure_avg_rating_genre_feature"
		, "Adventure_num_rating_genre_feature"
		, COALESCE("Animation_avg_rating_genre_feature", "average_rating") AS "Animation_avg_rating_genre_feature"
		, "Animation_num_rating_genre_feature"
		, COALESCE("Children_avg_rating_genre_feature", "average_rating") AS "Children_avg_rating_genre_feature"
		, "Children_num_rating_genre_feature"
		, COALESCE("Comedy_avg_rating_genre_feature", "average_rating") AS "Comedy_avg_rating_genre_feature"
		, "Comedy_num_rating_genre_feature"
		, COALESCE("Crime_avg_rating_genre_feature", "average_rating") AS "Crime_avg_rating_genre_feature"
		, "Crime_num_rating_genre_feature"
		, COALESCE("Documentary_avg_rating_genre_feature", "average_rating") AS "Documentary_avg_rating_genre_feature"
		, "Documentary_num_rating_genre_feature"
		, COALESCE("Drama_avg_rating_genre_feature", "average_rating") AS "Drama_avg_rating_genre_feature"
		, "Drama_num_rating_genre_feature"
		, COALESCE("Fantasy_avg_rating_genre_feature", "average_rating") AS "Fantasy_avg_rating_genre_feature"
		, "Fantasy_num_rating_genre_feature"
		, COALESCE("Film-Noir_avg_rating_genre_feature", "average_rating") AS "Film-Noir_avg_rating_genre_feature"
		, "Film-Noir_num_rating_genre_feature"
		, COALESCE("Horror_avg_rating_genre_feature", "average_rating") AS "Horror_avg_rating_genre_feature"
		, "Horror_num_rating_genre_feature"
		, COALESCE("IMAX_avg_rating_genre_feature", "average_rating") AS "IMAX_avg_rating_genre_feature"
		, "IMAX_num_rating_genre_feature"
		, COALESCE("Musical_avg_rating_genre_feature", "average_rating") AS "Musical_avg_rating_genre_feature"
		, "Musical_num_rating_genre_feature"
		, COALESCE("Mystery_avg_rating_genre_feature", "average_rating") AS "Mystery_avg_rating_genre_feature"
		, "Mystery_num_rating_genre_feature"
		, COALESCE("Romance_avg_rating_genre_feature", "average_rating") AS "Romance_avg_rating_genre_feature"
		, "Romance_num_rating_genre_feature"
		, COALESCE("Sci-Fi_avg_rating_genre_feature", "average_rating") AS "Sci-Fi_avg_rating_genre_feature"
		, "Sci-Fi_num_rating_genre_feature"
		, COALESCE("Thriller_avg_rating_genre_feature", "average_rating") AS "Thriller_avg_rating_genre_feature"
		, "Thriller_num_rating_genre_feature"
		, COALESCE("War_avg_rating_genre_feature", "average_rating") AS "War_avg_rating_genre_feature"
		, "War_num_rating_genre_feature"
		, COALESCE("Western_avg_rating_genre_feature", "average_rating") AS "Western_avg_rating_genre_feature"
		, "Western_num_rating_genre_feature"
    FROM
        driver2
)

In [28]:
duckdb.sql(query_snippet)
duckdb.sql('SELECT * FROM user_matrix LIMIT 100').df()

,userId,number_reviews,average_rating,Action_avg_rating_genre_feature,Action_num_rating_genre_feature,Adventure_avg_rating_genre_feature,Adventure_num_rating_genre_feature,Animation_avg_rating_genre_feature,Animation_num_rating_genre_feature,Children_avg_rating_genre_feature,Children_num_rating_genre_feature,Comedy_avg_rating_genre_feature,Comedy_num_rating_genre_feature,Crime_avg_rating_genre_feature,Crime_num_rating_genre_feature,Documentary_avg_rating_genre_feature,Documentary_num_rating_genre_feature,Drama_avg_rating_genre_feature,Drama_num_rating_genre_feature,Fantasy_avg_rating_genre_feature,Fantasy_num_rating_genre_feature,Film-Noir_avg_rating_genre_feature,Film-Noir_num_rating_genre_feature,Horror_avg_rating_genre_feature,Horror_num_rating_genre_feature,IMAX_avg_rating_genre_feature,IMAX_num_rating_genre_feature,Musical_avg_rating_genre_feature,Musical_num_rating_genre_feature,Mystery_avg_rating_genre_feature,Mystery_num_rating_genre_feature,Romance_avg_rating_genre_feature,Romance_num_rating_genre_feature,Sci-Fi_avg_rating_genre_feature,Sci-Fi_num_rating_genre_feature,Thriller_avg_rating_genre_feature,Thriller_num_rating_genre_feature,War_avg_rating_genre_feature,War_num_rating_genre_feature,Western_avg_rating_genre_feature,Western_num_rating_genre_feature
0,1,232,4.366379,4.322222,90,4.388235,85,4.689655,29,4.547619,42,4.277108,83,4.355556,45,4.366379,0,4.529412,68,4.297872,47,5.000000,1,3.470588,17,4.366379,0,4.681818,22,4.166667,18,4.307692,26,4.225000,40,4.145455,55,4.500000,22,4.285714,7
1,2,29,3.948276,3.954545,11,4.166667,3,3.948276,0,3.948276,0,4.000000,7,3.800000,10,4.333333,3,3.882353,17,3.948276,0,3.948276,0,3.000000,1,3.750000,4,3.948276,0,4.000000,2,4.500000,1,3.875000,4,3.700000,10,4.500000,1,3.500000,1
2,3,39,2.435897,3.571429,14,2.727273,11,0.500000,4,0.500000,5,1.000000,9,0.500000,2,2.435897,0,0.750000,16,3.375000,4,2.435897,0,4.687500,8,2.435897,0,0.500000,1,5.000000,1,0.500000,5,4.200000,15,4.142857,7,0.500000,5,2.435897,0
3,4,216,3.555556,3.320000,25,3.655172,29,4.000000,6,3.800000,10,3.509615,104,3.814815,27,4.000000,2,3.483333,120,3.684211,19,4.000000,4,4.250000,4,3.000000,1,4.000000,16,3.478261,23,3.379310,58,2.833333,12,3.552632,38,3.571429,7,3.800000,10
4,5,44,3.636364,3.111111,9,3.250000,8,4.333333,6,4.111111,9,3.466667,15,3.833333,12,3.636364,0,3.800000,25,4.142857,7,3.636364,0,3.000000,1,3.666667,3,4.400000,5,4.000000,1,3.090909,11,2.500000,2,3.555556,9,3.333333,3,3.000000,2
5,6,314,3.493631,3.609375,64,3.893617,47,4.071429,14,3.617021,47,3.370079,127,3.285714,35,3.493631,0,3.614286,140,3.538462,26,2.500000,2,3.263158,19,4.666667,3,4.166667,12,3.733333,15,3.614286,70,3.476190,21,3.544118,68,3.583333,12,3.818182,11
6,7,152,3.230263,3.257812,64,3.314815,54,3.392857,14,3.200000,15,3.163265,49,3.307692,26,3.230263,0,3.131579,57,3.065217,23,3.250000,2,4.000000,5,2.454545,11,3.666667,9,3.178571,14,2.650000,30,3.154762,42,3.430233,43,3.291667,12,1.500000,1
7,8,47,3.574468,3.333333,12,3.545455,11,5.000000,1,4.250000,4,3.208333,24,3.888889,9,3.574468,0,3.789474,19,3.250000,4,3.574468,0,4.500000,2,4.500000,2,5.000000,1,4.000000,3,3.500000,14,3.250000,4,3.750000,16,3.666667,3,3.000000,2
8,9,46,3.260870,3.125000,8,3.800000,10,4.000000,1,4.000000,1,3.666667,15,3.142857,7,3.260870,0,3.428571,21,5.000000,2,4.000000,1,1.800000,5,3.000000,1,3.000000,1,4.000000,3,3.166667,6,3.000000,8,2.545455,11,3.500000,2,4.000000,1
9,10,140,3.278571,3.500000,26,3.580645,31,3.866667,15,3.607143,14,3.265823,79,3.115385,13,3.278571,0,3.152778,72,3.441176,17,3.278571,0,1.750000,2,3.361111,18,3.333333,9,2.166667,3,3.333333,78,2.000000,5,3.076923,13,3.750000,4,3.278571,0
10,11,64,3.781250,3.543478,46,3.555556,18,3.781250,0,3.781250,0,3.416667,12,3.692308,13,3.781250,0,4.166667,24,2.000000,1,3.781250,0,5.000000,1,5.000000,1,3.781250,0,4.333333,3,4.230769,13,3.500000,10,3.656250,32,4.333333,6,4.000000,2
11,12,32,4.390625,4.000000,2,3.000000,2,3.000000,1,4.390625,0,4.305556,18,3.000000,1,4.390625,0,4.562500,16,4.250000,4,4.390625,0,4.390625,0,4.390625,0,4.390625,0,4.390625,0,4.571429,21,4.500000,3,4.000000,3,4.500000,1,4.390625,0
12,13,31,3.645161,4.200000,10,4.166667,6,3.645161,0,3.645161,0,3.272727,11,3.666667,3,3.645161,0,3.500000,16,3.000000,1,3.645161,0,4.000000,5,3.645161,0,3.645161,0,4.500000,2,3.666667,6,4.200000,5,3.818182,11,3.500000,2,4.000000,1
13,17,105,4.209524,4.230769,39,4.285714,35,4.400000,10,4.214286,7,4.157895,19,4.250000,32,3.500000,1,4.186275,51,4.323529,17,3.750000,2,4.166667,3,4.166667,6,4.000000,3,4.050000,10,3.928571,7,4.400000,20,4.277778,27,4.444444,9,4.250000,6
14,18,502,3.732072,3.588517,209,3.633803,142,3.758065,31,3.542857,35,3.506757,148,3.934783,138,3.944444,9,3.894495,218,3.644231,52,3.875000,8,3.300000,15,3.675676,37,3.708333,12,4.026786,56,3.681818,44,3.640909,110,3.792899,169,3.937500,16,4.181818,11
15,19,703,2.607397,2.726667,150,2.815287,157,2.937500,48,2.696078,102,2.640212,378,2.902778,72,2.607397,0,2.609272,151,2.833333,96,3.333333,9,2.267857,112,3.000000,1,2.837838,37,2.965517,58,2.679104,134,2.559055,127,2.546798,203,3.000000,9,2.545455,11
16,20,242,3.590909,2.755319,47,3.441860,86,4.184615,65,3.909910,111,3.671429,105,3.240000,25,3.750000,2,3.809859,71,3.864583,48,1.500000,1,3.125000,12,4.600000,5,4.472727,55,3.218750,16,3.987500,40,3.227273,22,2.729730,37,3.500000,4,1.500000,2
17,21,443,3.260722,3.455752,226,3.663842,177,3.241379,58,3.204918,61,3.201493,201,3.178082,73,3.260722,0,2.952128,94,3.087302,63,3.500000,2,1.766667,15,3.596491,57,2.800000,15,3.361111,18,3.238462,65,3.448113,106,3.545082,122,3.625000,8,4.000000,4
18,22,119,2.571429,2.783333,30,2.346154,26,2.708333,12,2.750000,12,2.487179,39,2.533333,30,2.000000,5,2.609589,73,1.875000,16,4.500000,1,2.500000,6,1.750000,6,4.500000,1,2.458333,12,2.204545,22,2.100000,15,2.783333,30,2.333333,6,4.000000,1
19,23,121,3.648760,3.537037,27,3.388889,18,3.800000,10,3.500000,3,3.416667,24,3.653846,39,3.250000,2,3.642857,77,3.821429,14,3.954545,11,4.000000,3,3.000000,1,3.648760,0,4.068182,22,3.333333,12,3.911765,17,3.723684,38,3.750000,6,3.500000,3
20,24,110,3.650000,3.642857,56,3.651515,33,4.250000,2,4.250000,2,3.590000,50,3.913043,23,3.650000,0,3.687500,40,3.733333,15,3.650000,0,3.625000,4,3.850000,10,3.500000,1,3.769231,13,3.545455,33,3.640000,25,3.647059,34,3.714286,7,3.650000,0
21,25,26,4.807692,4.833333,15,4.750000,14,4.666667,3,4.666667,3,4.500000,2,5.000000,4,4.807692,0,4.958333,12,5.000000,3,4.807692,0,4.807692,0,5.000000,3,4.807692,0,4.750000,2,5.000000,1,4.722222,9,4.875000,4,5.000000,4,4.807692,0
22,26,21,3.238095,3.000000,10,2.666667,6,3.238095,0,3.000000,1,3.200000,5,3.500000,8,3.238095,0,3.250000,8,3.238095,0,3.238095,0,4.000000,1,3.000000,1,3.238095,0,4.000000,1,3.000000,2,2.000000,1,3.428571,14,3.000000,1,3.238095,0
23,27,135,3.548148,3.642857,42,3.644068,59,3.363636,22,3.244898,49,3.400000,50,3.571429,7,3.548148,0,3.800000,45,3.363636,22,4.000000,1,1.500000,2,4.000000,2,3.923077,13,4.333333,3,4.130435,23,3.375000,32,3.428571,14,3.600000,15,3.900000,10
24,30,34,4.735294,4.720000,25,4.789474,19,4.600000,5,4.666667,3,4.600000,5,4.857143,7,4.735294,0,5.000000,7,4.750000,4,4.735294,0,3.000000,1,5.000000,8,4.735294,0,5.000000,1,5.000000,2,4.647059,17,4.300000,5,5.000000,1,4.735294,0
25,31,50,3.920000,4.333333,15,4.000000,15,4.000000,5,4.142857,7,3.863636,22,3.333333,3,5.000000,1,3.666667,15,3.700000,10,3.920000,0,3.500000,2,3.920000,0,4.600000,5,5.000000,1,3.750000,16,3.777778,9,4.454545,11,5.000000,1,3.920000,0
26,33,156,3.788462,4.000000,14,3.900000,10,3.833333,6,3.875000,8,3.827586,58,3.923077,26,3.788462,0,3.791304,115,3.500000,6,5.000000,2,4.500000,2,3.000000,1,4.000000,6,3.666667,9,3.854545,55,4.142857,7,3.633333,30,4.125000,8,4.000000,1
27,34,86,3.418605,3.735294,51,3.807692,26,3.642857,7,2.750000,2,3.202703,37,3.772727,11,2.000000,1,3.250000,24,3.250000,14,3.418605,0,3.444444,9,3.166667,3,3.418605,0,3.071429,7,3.100000,20,3.347826,23,3.769231,26,2.100000,5,3.500000,2
28,35,23,4.086957,4.000000,4,4.200000,5,3.000000,1,4.000000,2,3.900000,10,4.750000,4,4.086957,0,4.222222,9,4.000000,2,4.086957,0,4.086957,0,4.000000,2,3.000000,1,5.000000,1,3.555556,9,3.000000,1,4.750000,4,2.000000,1,3.500000,2
29,36,60,2.633333,2.638889,18,2.807692,13,2.633333,0,1.833333,3,2.347826,23,2.735294,17,2.633333,0,2.555556,27,2.000000,3,3.250000,2,3.000000,1,2.633333,0,1.500000,1,3.000000,10,2.346154,13,2.300000,5,2.892857,14,2.900000,5,2.000000,1
30,38,78,3.217949,3.052632,19,2.937500,16,3.200000,5,3.125000,8,3.200000,35,3.333333,9,5.000000,1,3.285714,35,3.142857,7,3.217949,0,2.000000,3,3.333333,3,3.200000,5,4.333333,3,3.111111,27,2.333333,6,3.388889,18,3.714286,7,2.600000,5
31,39,100,4.000000,4.250000,28,3.875000,32,3.291667,24,3.130435,23,4.000000,28,4.400000,25,4.000000,0,4.114286,35,3.750000,16,3.500000,2,4.461538,13,4.000000,1,3.125000,16,3.750000,8,3.600000,10,4.000000,21,4.217391,23,4.000000,1,4.000000,1
32,40,103,3.766990,3.521739,23,3.478261,23,3.625000,8,3.722222,18,3.634146,41,4.000000,13,3.766990,0,4.200000,50,3.750000,12,3.766990,0,2.666667,3,4.333333,3,3.428571,7,4.333333,3,3.681818,22,3.000000,11,3.866667,15,4.000000,3,4.000000,6
33,41,217,3.253456,2.525641,39,2.681818,33,3.666667,12,3.222222,9,3.403409,88,3.384615,52,1.500000,2,3.434615,130,2.750000,20,4.250000,2,2.958333,12,1.500000,6,3.000000,3,3.300000,20,3.316667,60,2.300000,20,3.267857,56,2.923077,13,4.000000,2
34,42,440,3.565909,3.400000,125,3.513889,72,4.000000,5,2.928571,14,3.412322,211,3.746479,71,4.333333,3,3.818713,171,3.590909,22,3.500000,2,3.000000,17,4.500000,2,3.857143,7,3.962963,27,3.640449,89,3.250000,44,3.577586,116,3.809524,21,3.916667,12
35,43,114,4.552632,4.322581,31,4.676471,34,5.000000,13,4.937500,32,4.522727,44,4.250000,16,4.552632,0,4.428571,42,4.882353,17,4.552632,0,4.600000,5,5.000000,3,5.000000,12,4.500000,4,4.520000,25,4.666667,15,4.310345,29,4.000000,3,4.000000,3
36,45,399,3.875940,4.009434,106,4.015152,99,4.435484,31,3.861111,54,3.685520,221,4.196078,51,4.000000,1,4.037190,121,3.755556,45,3.875940,0,4.031250,16,4.714286,7,4.296296,27,4.210526,19,3.920290,69,3.720000,75,4.017647,85,4.428571,14,3.666667,3
37,46,42,4.000000,3.888889,18,4.076923,13,5.000000,4,5.000000,4,3.916667,12,4.000000,12,4.000000,0,4.000000,15,4.666667,3,4.000000,0,4.500000,2,5.000000,2,5.000000,3,4.333333,3,4.500000,6,4.000000,7,3.944444,18,4.333333,3,4.333333,3
38,47,140,3.053571,2.812500,8,2.950000,10,3.053571,0,3.000000,3,2.471429,35,3.275000,20,3.285714,7,3.224299,107,2.500000,7,3.053571,0,2.083333,6,2.916667,6,2.928571,7,2.687500,8,2.896552,29,2.850000,10,2.840909,22,3.500000,5,3.500000,1
39,48,33,4.030303,4.022727,22,4.038462,13,4.375000,4,4.375000,4,4.187500,8,4.250000,2,4.030303,0,4.000000,8,4.500000,5,4.030303,0,4.333333,3,4.250000,2,4.250000,2,4.500000,2,4.000000,4,4.166667,18,3.966667,15,4.030303,0,4.030303,0
40,49,21,4.261905,4.357143,7,4.250000,4,4.000000,4,4.100000,5,4.000000,5,4.166667,3,4.261905,0,4.350000,10,4.261905,0,4.261905,0,4.250000,2,4.333333,3,4.261905,0,4.250000,2,4.000000,1,4.333333,9,4.250000,4,4.250000,4,4.261905,0
41,50,310,2.780645,2.450617,81,2.475000,80,2.622642,53,2.261905,42,2.590909,121,2.933333,45,3.142857,14,3.039683,126,2.829545,44,3.500000,2,2.625000,16,2.068182,22,2.566667,15,3.225000,20,2.818182,33,2.550000,50,2.824561,57,3.454545,11,3.166667,6
42,51,359,3.775766,3.478022,91,3.591549,71,3.058824,17,3.133333,30,3.804878,164,3.846154,52,5.000000,2,4.066667,120,3.875000,40,4.166667,3,3.759615,52,3.250000,6,3.607143,14,3.695652,23,3.970588,68,3.774194,62,3.459770,87,4.272727,11,3.555556,9
43,52,130,4.476923,4.534247,73,4.589744,39,4.464286,14,4.461538,13,4.428571,35,4.625000,36,4.500000,3,4.421875,64,4.545455,11,4.476923,0,4.333333,6,4.500000,16,4.666667,3,4.666667,12,4.388889,18,4.592593,27,4.578431,51,4.375000,12,4.000000,2
44,53,20,5.000000,5.000000,4,5.000000,1,5.000000,0,5.000000,0,5.000000,6,5.000000,2,5.000000,0,5.000000,10,5.000000,0,5.000000,1,5.000000,1,5.000000,0,5.000000,2,5.000000,1,5.000000,6,5.000000,2,5.000000,3,5.000000,1,5.000000,0
45,54,33,3.030303,2.857143,7,3.000000,6,3.000000,3,2.800000,5,2.923077,13,3.125000,8,3.030303,0,3.133333,15,3.000000,3,3.030303,0,4.000000,1,3.000000,2,3.000000,2,3.000000,3,3.166667,6,3.000000,4,3.000000,14,3.333333,3,3.000000,1
46,55,25,2.840000,2.900000,10,2.625000,4,0.500000,1,1.250000,2,2.555556,9,4.350000,10,2.840000,0,2.916667,12,1.750000,4,2.840000,0,2.840000,0,2.840000,0,0.500000,1,3.500000,2,0.500000,5,1.333333,3,4.055556,9,2.250000,2,2.840000,0
47,56,46,3.804348,3.583333,24,3.916667,12,5.000000,1,4.000000,2,3.937500,16,3.538462,13,3.804348,0,3.941176,17,3.333333,3,3.804348,0,3.666667,3,5.000000,1,5.000000,1,4.000000,2,4.250000,4,3.555556,9,3.809524,21,4.333333,3,3.804348,0
48,57,476,3.392857,3.207865,178,3.355556,135,3.757576,33,3.348837,43,3.401961,204,3.463768,69,4.000000,1,3.549133,173,3.420000,50,4.153846,13,2.823529,17,3.750000,4,3.714286,28,3.794118,34,3.400000,100,3.147368,95,3.156250,128,4.147059,34,3.684211,19
49,58,112,3.901786,3.807692,26,3.764706,17,4.375000,8,4.272727,11,3.765957,47,3.647059,17,3.901786,0,4.020408,49,4.000000,11,3.901786,0,2.333333,3,4.333333,3,4.444444,9,4.500000,6,4.000000,30,3.700000,10,4.031250,32,4.200000,5,3.333333,3
50,59,107,4.355140,4.000000,34,3.681818,22,3.000000,3,3.000000,3,3.958333,24,4.222222,18,4.500000,2,4.677966,59,3.250000,8,4.666667,6,5.000000,5,5.000000,1,4.355140,0,4.500000,18,4.600000,20,3.846154,13,4.400000,40,4.720000,25,4.355140,0
51,60,22,3.727273,4.000000,3,3.500000,6,3.500000,2,3.400000,5,3.500000,2,4.000000,6,3.727273,0,3.933333,15,3.000000,2,3.727273,0,3.727273,0,5.000000,1,3.500000,2,3.500000,2,3.400000,5,3.727273,0,3.500000,6,4.000000,3,3.727273,0
52,62,366,4.081967,3.988024,167,3.933333,135,3.392857,14,3.645833,24,3.873626,91,4.468254,63,4.081967,0,4.281250,144,3.894366,71,4.500000,1,4.023810,21,4.058824,51,3.416667,6,4.220930,43,3.782609,46,3.973913,115,4.152174,115,4.157895,19,4.500000,5
53,63,271,3.630996,3.583333,108,3.528090,89,4.242424,33,3.800000,30,3.750000,110,3.794643,56,4.357143,7,3.600000,95,3.592105,38,4.400000,5,3.041667,12,3.380952,21,4.200000,10,3.904762,21,3.500000,33,3.413793,58,3.536232,69,3.468750,16,4.000000,1
54,64,517,3.768859,3.654472,123,3.757282,103,3.878788,33,3.816327,49,3.662791,215,3.882979,94,4.083333,6,3.917722,237,3.820896,67,4.000000,3,3.736364,55,3.714286,7,3.785714,28,3.669643,56,3.707547,106,3.508333,60,3.669065,139,4.314815,27,3.944444,9
55,65,34,4.029412,3.966667,15,3.785714,7,4.029412,0,4.029412,0,3.700000,5,4.181818,11,4.029412,0,4.120000,25,3.625000,4,4.029412,0,4.029412,0,4.333333,6,4.029412,0,4.250000,6,3.666667,3,4.055556,9,4.083333,12,3.833333,6,4.029412,0
56,66,345,4.020290,3.839806,103,3.913043,69,4.187500,16,3.973684,19,3.955782,147,4.068966,58,4.020290,0,4.196667,150,4.100000,40,4.875000,4,3.923077,26,5.000000,1,4.250000,6,4.220000,25,4.279661,59,3.787234,47,3.969136,81,4.392857,14,4.550000,10
57,67,36,3.972222,4.119048,21,3.607143,14,3.900000,5,3.900000,5,4.323529,17,4.200000,10,3.972222,0,4.038462,13,3.083333,6,3.972222,0,3.972222,0,4.000000,1,3.972222,0,3.500000,2,3.875000,4,4.055556,9,4.222222,9,4.333333,3,3.750000,2
58,68,1260,3.233730,3.341250,400,3.410653,291,3.331250,80,3.107477,107,3.174858,529,3.216216,185,3.787879,33,3.217791,489,3.290780,141,3.833333,3,2.844660,103,3.859649,57,3.037037,54,3.121951,82,3.331597,288,3.198020,202,3.206325,332,3.336735,49,3.386364,22
59,69,46,4.369565,4.444444,18,4.333333,12,4.369565,0,4.369565,0,4.666667,9,4.571429,7,4.369565,0,4.315789,19,5.000000,1,4.000000,1,3.833333,6,4.369565,0,4.369565,0,4.600000,5,4.250000,4,4.352941,17,4.153846,13,4.000000,2,5.000000,4
60,70,62,4.322581,3.750000,4,4.375000,8,4.000000,1,4.625000,4,4.138889,18,4.357143,7,4.500000,2,4.411765,51,4.625000,4,4.322581,0,4.500000,1,4.000000,1,4.322581,0,4.000000,2,4.464286,14,4.250000,6,3.000000,3,4.300000,5,4.000000,1
61,71,35,3.600000,3.857143,21,3.812500,16,5.000000,1,3.800000,5,3.625000,8,3.200000,5,3.600000,0,3.111111,9,4.000000,4,3.600000,0,3.600000,0,3.600000,0,3.000000,1,3.500000,2,3.857143,7,3.363636,11,3.733333,15,4.000000,1,3.600000,0
62,72,45,4.155556,4.147059,17,4.200000,10,4.155556,0,4.155556,0,3.833333,9,4.500000,8,4.155556,0,4.150000,20,4.155556,0,4.155556,0,4.333333,3,4.250000,2,4.155556,0,4.375000,4,4.125000,8,4.250000,10,4.214286,14,4.375000,4,4.000000,1
63,73,210,3.711905,4.132353,68,3.951613,62,3.420000,25,3.380000,25,3.504032,124,4.074074,27,3.711905,0,3.866197,71,3.680000,25,3.711905,0,3.800000,5,4.038462,26,3.100000,5,4.375000,12,3.351351,37,3.945946,37,4.132353,34,4.800000,5,4.750000,2
64,75,69,3.231884,3.214286,35,3.384615,26,4.200000,5,4.200000,5,3.812500,8,3.150000,10,3.231884,0,2.980000,25,3.388889,9,3.231884,0,3.500000,4,4.500000,1,4.333333,3,2.964286,14,3.227273,11,2.948276,29,3.220000,25,2.375000,4,4.500000,2
65,76,119,3.084034,3.161765,34,2.517241,29,0.555556,9,0.769231,13,2.641026,39,3.652778,36,3.500000,1,3.192308,52,1.968750,16,3.084034,0,3.933333,15,3.000000,7,0.750000,4,3.633333,15,1.727273,11,3.200000,25,3.576923,39,3.111111,9,2.800000,5
66,77,29,4.000000,4.421053,19,4.928571,14,5.000000,1,5.000000,1,3.625000,4,3.500000,5,4.000000,0,3.277778,9,4.800000,5,4.000000,0,4.000000,0,4.416667,6,4.000000,0,2.125000,4,3.166667,3,4.045455,11,2.937500,8,4.000000,0,4.000000,0
67,78,61,3.163934,3.308824,34,3.000000,25,2.250000,2,2.500000,3,3.160714,28,3.333333,12,3.163934,0,2.833333,12,2.500000,3,3.163934,0,2.500000,4,4.000000,2,1.500000,1,2.333333,3,3.500000,6,3.026316,19,3.140000,25,3.000000,3,2.000000,1
68,79,64,4.203125,4.200000,40,4.250000,20,4.203125,0,4.203125,0,4.142857,14,4.500000,12,4.333333,6,3.956522,23,4.000000,4,5.000000,1,4.166667,6,4.203125,0,4.500000,4,4.500000,2,4.000000,6,4.357143,14,4.217391,23,4.000000,6,4.203125,0
69,80,167,4.260479,4.357143,77,4.196970,33,4.000000,1,4.000000,3,3.818182,11,4.430233,43,4.260479,0,4.278571,70,4.346154,13,4.000000,1,4.127660,47,4.270833,24,4.260479,0,4.472222,36,4.375000,4,4.190909,55,4.292373,118,4.083333,6,4.260479,0
70,81,26,2.769231,2.769231,13,2.454545,11,2.000000,2,2.000000,2,1.875000,8,2.714286,7,2.769231,0,2.875000,8,1.000000,1,2.769231,0,2.769231,0,2.500000,2,2.000000,2,4.000000,2,2.333333,3,3.833333,6,3.083333,12,2.666667,3,2.769231,0
71,82,227,3.381057,3.547826,115,3.371622,74,3.038462,13,2.608696,23,3.473451,113,3.451923,52,3.000000,1,3.322917,48,3.250000,26,1.000000,1,3.357143,14,3.250000,2,3.214286,7,3.142857,14,3.382353,34,3.526316,38,3.303030,66,3.857143,7,3.625000,8
72,83,118,3.309322,3.000000,41,3.181818,33,3.450000,10,3.166667,9,3.000000,23,3.392857,14,2.000000,1,3.630137,73,3.200000,15,3.309322,0,2.500000,10,3.727273,11,4.125000,4,3.333333,12,3.675000,20,3.400000,25,3.107143,28,3.437500,24,0.500000,1
73,84,293,3.689420,3.562500,32,3.560000,25,3.000000,2,3.352941,17,3.487179,117,3.727273,33,3.750000,4,3.884848,165,3.562500,16,3.666667,3,3.545455,11,5.000000,1,3.764706,17,3.933333,15,3.698925,93,3.357143,14,3.574468,47,4.352941,17,4.000000,8
74,85,34,3.705882,1.000000,1,5.000000,1,3.705882,0,5.000000,1,3.333333,6,2.000000,1,3.705882,0,3.833333,30,5.000000,1,3.705882,0,3.705882,0,3.705882,0,3.705882,0,3.666667,3,4.000000,6,2.000000,2,3.000000,1,3.666667,3,3.705882,0
75,86,70,3.928571,3.854839,31,3.910714,28,4.041667,12,4.045455,11,4.071429,14,4.111111,9,3.928571,0,3.944444,27,3.944444,18,3.928571,0,4.000000,2,3.857143,7,4.000000,2,4.250000,6,3.852941,17,3.911765,17,3.916667,18,3.166667,6,4.000000,1
76,87,21,3.952381,3.000000,3,3.900000,5,4.333333,3,3.800000,5,4.222222,9,3.952381,0,3.952381,0,3.909091,11,4.300000,5,3.952381,0,3.500000,2,3.952381,0,4.000000,1,4.000000,1,4.250000,2,3.642857,7,3.666667,3,3.952381,0,3.952381,0
77,88,56,4.035714,4.235294,17,4.571429,7,4.035714,0,0.500000,2,3.208333,12,4.558824,17,4.035714,0,4.166667,33,4.700000,5,4.035714,0,4.166667,3,4.666667,3,4.035714,0,4.250000,10,3.500000,3,3.785714,7,4.309524,21,4.250000,4,4.000000,2

## Normalizing values

We are going to load the current design matrix up as a pandas dataframe and use some tools from scikit-learn for the next few steps. The data is pretty tiny

In [30]:
user_matrix = duckdb.sql('SELECT * FROM user_matrix ORDER BY userId').df()
print(user_matrix.shape) #
user_matrix

(610, 41)

,userId,number_reviews,average_rating,Action_avg_rating_genre_feature,Action_num_rating_genre_feature,Adventure_avg_rating_genre_feature,Adventure_num_rating_genre_feature,Animation_avg_rating_genre_feature,Animation_num_rating_genre_feature,Children_avg_rating_genre_feature,Children_num_rating_genre_feature,Comedy_avg_rating_genre_feature,Comedy_num_rating_genre_feature,Crime_avg_rating_genre_feature,Crime_num_rating_genre_feature,Documentary_avg_rating_genre_feature,Documentary_num_rating_genre_feature,Drama_avg_rating_genre_feature,Drama_num_rating_genre_feature,Fantasy_avg_rating_genre_feature,Fantasy_num_rating_genre_feature,Film-Noir_avg_rating_genre_feature,Film-Noir_num_rating_genre_feature,Horror_avg_rating_genre_feature,Horror_num_rating_genre_feature,IMAX_avg_rating_genre_feature,IMAX_num_rating_genre_feature,Musical_avg_rating_genre_feature,Musical_num_rating_genre_feature,Mystery_avg_rating_genre_feature,Mystery_num_rating_genre_feature,Romance_avg_rating_genre_feature,Romance_num_rating_genre_feature,Sci-Fi_avg_rating_genre_feature,Sci-Fi_num_rating_genre_feature,Thriller_avg_rating_genre_feature,Thriller_num_rating_genre_feature,War_avg_rating_genre_feature,War_num_rating_genre_feature,Western_avg_rating_genre_feature,Western_num_rating_genre_feature
0,1,232,4.366379,4.322222,90,4.388235,85,4.689655,29,4.547619,42,4.277108,83,4.355556,45,4.366379,0,4.529412,68,4.297872,47,5.000000,1,3.470588,17,4.366379,0,4.681818,22,4.166667,18,4.307692,26,4.225000,40,4.145455,55,4.500000,22,4.285714,7
1,2,29,3.948276,3.954545,11,4.166667,3,3.948276,0,3.948276,0,4.000000,7,3.800000,10,4.333333,3,3.882353,17,3.948276,0,3.948276,0,3.000000,1,3.750000,4,3.948276,0,4.000000,2,4.500000,1,3.875000,4,3.700000,10,4.500000,1,3.500000,1
2,3,39,2.435897,3.571429,14,2.727273,11,0.500000,4,0.500000,5,1.000000,9,0.500000,2,2.435897,0,0.750000,16,3.375000,4,2.435897,0,4.687500,8,2.435897,0,0.500000,1,5.000000,1,0.500000,5,4.200000,15,4.142857,7,0.500000,5,2.435897,0
3,4,216,3.555556,3.320000,25,3.655172,29,4.000000,6,3.800000,10,3.509615,104,3.814815,27,4.000000,2,3.483333,120,3.684211,19,4.000000,4,4.250000,4,3.000000,1,4.000000,16,3.478261,23,3.379310,58,2.833333,12,3.552632,38,3.571429,7,3.800000,10
4,5,44,3.636364,3.111111,9,3.250000,8,4.333333,6,4.111111,9,3.466667,15,3.833333,12,3.636364,0,3.800000,25,4.142857,7,3.636364,0,3.000000,1,3.666667,3,4.400000,5,4.000000,1,3.090909,11,2.500000,2,3.555556,9,3.333333,3,3.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,606,1115,3.657399,3.178808,151,3.503401,147,3.714286,42,3.448980,49,3.565321,421,3.654135,133,3.800000,5,3.787966,698,3.597938,97,3.812500,8,3.346154,52,3.062500,16,3.727273,44,3.791209,91,3.740845,355,3.556962,79,3.525126,199,3.792308,65,3.411765,17
606,607,187,3.786096,3.722222,72,3.466667,45,3.333333,6,3.421053,19,3.327273,55,3.814815,27,3.786096,0,4.012195,82,3.571429,21,3.786096,0,4.114286,35,5.000000,1,3.600000,5,4.647059,17,3.517241,29,3.250000,36,4.114754,61,4.166667,6,4.000000,2
607,608,831,3.134176,3.330325,277,3.220994,181,3.118182,55,2.460227,88,2.736620,355,3.613014,146,3.000000,6,3.437500,280,3.000000,111,3.750000,4,3.319588,97,4.000000,12,2.757576,33,3.550725,69,2.886792,106,3.296407,167,3.536680,259,3.578947,19,2.636364,11
608,609,37,3.270270,3.090909,11,3.200000,10,3.000000,1,3.000000,2,3.285714,7,3.500000,6,3.000000,2,3.368421,19,3.000000,1,3.270270,0,3.500000,2,3.000000,1,3.270270,0,3.270270,0,3.200000,5,3.000000,5,3.285714,14,3.500000,4,4.000000,1
609,610,1302,3.688556,3.600580,517,3.705993,267,3.901515,66,3.651786,56,3.731144,411,3.800366,273,4.200000,5,3.874739,479,3.592715,151,4.350000,10,3.506601,303,3.628049,82,3.928571,14,3.766667,120,3.731092,119,3.659363,251,3.573529,510,3.776596,47,3.742424,33

In [31]:
# scikit learn has a built in min-max scaler. We need to remove the userId column, then add it back in after scaling

scaler =  MinMaxScaler()

without_userid = user_matrix.drop('userId', axis=1)

normalized = scaler.fit_transform(without_userid)

normalized_df = pd.DataFrame(normalized, columns = without_userid.columns)

normalized_df['userId'] = user_matrix['userId']
normalized_df

,number_reviews,average_rating,Action_avg_rating_genre_feature,Action_num_rating_genre_feature,Adventure_avg_rating_genre_feature,Adventure_num_rating_genre_feature,Animation_avg_rating_genre_feature,Animation_num_rating_genre_feature,Children_avg_rating_genre_feature,Children_num_rating_genre_feature,Comedy_avg_rating_genre_feature,Comedy_num_rating_genre_feature,Crime_avg_rating_genre_feature,Crime_num_rating_genre_feature,Documentary_avg_rating_genre_feature,Documentary_num_rating_genre_feature,Drama_avg_rating_genre_feature,Drama_num_rating_genre_feature,Fantasy_avg_rating_genre_feature,Fantasy_num_rating_genre_feature,Film-Noir_avg_rating_genre_feature,Film-Noir_num_rating_genre_feature,Horror_avg_rating_genre_feature,Horror_num_rating_genre_feature,IMAX_avg_rating_genre_feature,IMAX_num_rating_genre_feature,Musical_avg_rating_genre_feature,Musical_num_rating_genre_feature,Mystery_avg_rating_genre_feature,Mystery_num_rating_genre_feature,Romance_avg_rating_genre_feature,Romance_num_rating_genre_feature,Sci-Fi_avg_rating_genre_feature,Sci-Fi_num_rating_genre_feature,Thriller_avg_rating_genre_feature,Thriller_num_rating_genre_feature,War_avg_rating_genre_feature,War_num_rating_genre_feature,Western_avg_rating_genre_feature,Western_num_rating_genre_feature,userId
0,0.079164,0.829900,0.843590,0.118734,0.864052,0.185996,0.931034,0.177914,0.899471,0.237288,0.819277,0.076923,0.856790,0.107399,0.850913,0.000000,0.889273,0.051223,0.824468,0.188,1.000000,0.020833,0.660131,0.056106,0.859195,0.00,0.929293,0.164179,0.814815,0.110429,0.846154,0.050980,0.827778,0.095694,0.810101,0.0880,0.888889,0.177419,0.841270,0.134615,1
1,0.003361,0.717658,0.758741,0.014512,0.814815,0.006565,0.766284,0.000000,0.766284,0.000000,0.750000,0.006487,0.733333,0.023866,0.843137,0.032258,0.737024,0.012232,0.737069,0.000,0.737069,0.000000,0.555556,0.003300,0.722222,0.04,0.766284,0.000000,0.777778,0.012270,0.888889,0.001961,0.750000,0.009569,0.711111,0.0160,0.888889,0.008065,0.666667,0.019231,2
2,0.007095,0.311650,0.670330,0.018470,0.494949,0.024070,0.000000,0.024540,0.000000,0.028249,0.000000,0.008341,0.000000,0.004773,0.396682,0.000000,0.000000,0.011468,0.593750,0.016,0.358974,0.000000,0.930556,0.026403,0.430199,0.00,0.000000,0.007463,1.000000,0.006135,0.000000,0.009804,0.822222,0.035885,0.809524,0.0112,0.000000,0.040323,0.430199,0.000000,3
3,0.073189,0.612230,0.612308,0.032982,0.701149,0.063457,0.777778,0.036810,0.733333,0.056497,0.627404,0.096386,0.736626,0.064439,0.764706,0.021505,0.643137,0.090979,0.671053,0.076,0.750000,0.083333,0.833333,0.013201,0.555556,0.01,0.777778,0.119403,0.661836,0.141104,0.639847,0.113725,0.518519,0.028708,0.678363,0.0608,0.682540,0.056452,0.733333,0.192308,4
4,0.008962,0.633923,0.564103,0.011873,0.611111,0.017505,0.851852,0.036810,0.802469,0.050847,0.616667,0.013902,0.740741,0.028640,0.679144,0.000000,0.717647,0.018349,0.785714,0.028,0.659091,0.000000,0.555556,0.003300,0.703704,0.03,0.866667,0.037313,0.777778,0.006135,0.575758,0.021569,0.444444,0.004785,0.679012,0.0144,0.629630,0.024194,0.555556,0.038462,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.408887,0.639570,0.579725,0.199208,0.667423,0.321663,0.714286,0.257669,0.655329,0.276836,0.641330,0.390176,0.700919,0.317422,0.717647,0.053763,0.714815,0.532875,0.649485,0.388,0.703125,0.166667,0.632479,0.171617,0.569444,0.16,0.717172,0.328358,0.731380,0.558282,0.720188,0.696078,0.679325,0.188995,0.672250,0.3184,0.731624,0.524194,0.647059,0.326923,606
606,0.062360,0.674120,0.705128,0.094987,0.659259,0.098468,0.629630,0.036810,0.649123,0.107345,0.581818,0.050973,0.736626,0.064439,0.714376,0.000000,0.767575,0.061927,0.642857,0.084,0.696524,0.000000,0.803175,0.115512,1.000000,0.01,0.688889,0.037313,0.921569,0.104294,0.670498,0.056863,0.611111,0.086124,0.803279,0.0976,0.814815,0.048387,0.777778,0.038462,607
607,0.302838,0.499108,0.614690,0.365435,0.604665,0.396061,0.581818,0.337423,0.435606,0.497175,0.434155,0.329008,0.691781,0.348449,0.529412,0.064516,0.632353,0.213303,0.500000,0.444,0.687500,0.083333,0.626575,0.320132,0.777778,0.12,0.501684,0.246269,0.677939,0.423313,0.530398,0.207843,0.621424,0.399522,0.674818,0.4144,0.684211,0.153226,0.474747,0.211538,608
608,0.006348,0.535643,0.559441,0.014512,0.600000,0.021882,0.555556,0.006135,0.555556,0.011299,0.571429,0.006487,0.666667,0.014320,0.529412,0.021505,0.616099,0.013761,0.500000,0.004,0.567568,0.000000,0.666667,0.006601,0.555556,0.01,0.615616,0.000000,0.615616,0.000000,0.600000,0.009804,0.555556,0.011962,0.619048,0.0224,0.666667,0.032258,0.777778,0.019231,609
609,0.478715,0.647935,0.677057,0.682058,0.712443,0.584245,0.755892,0.404908,0.700397,0.316384,0.682786,0.380908,0.733415,0.651551,0.811765,0.053763,0.735233,0.365443,0.648179,0.604,0.837500,0.208333,0.668133,1.000000,0.695122,0.82,0.761905,0.104478,0.725926,0.736196,0.718021,0.233333,0.702081,0.600478,0.683007,0.8160,0.728132,0.379032,0.720539,0.634615,610

In [32]:
distances = euclidean_distances(normalized, normalized)
distances

array([[0.        , 0.76024771, 2.83679029, ..., 1.5963914 , 1.33477816,
        2.20936878],
       [0.76024771, 0.        , 2.44479253, ..., 1.66339849, 0.85152723,
        2.48191034],
       [2.83679029, 2.44479253, 0.        , ..., 2.23642112, 1.88654805,
        3.33192543],
       ...,
       [1.5963914 , 1.66339849, 2.23642112, ..., 0.        , 1.4579445 ,
        1.54417867],
       [1.33477816, 0.85152723, 1.88654805, ..., 1.4579445 , 0.        ,
        2.53727685],
       [2.20936878, 2.48191034, 3.33192543, ..., 1.54417867, 2.53727685,
        0.        ]])

In [33]:
def find_most_similar(distances, normalized_df, index):
    min_index = -1
    min_value = distances[index,:].max()
    max_value = -1
    max_index = -1
    for ix, val in enumerate(distances[index,:]):
        if ix != index and val < min_value:
            min_index = ix
            min_value = val
        elif ix != index and val > max_value:
            max_index = ix
            max_value = val
    print(min_index, min_value, max_index, max_value)
    return (min_index, min_value, max_index, max_value)


index = 0
min_index, min_value, max_index, max_value = find_most_similar(distances, normalized_df, index)

user_matrix.loc[[index, min_index, max_index],:] # it is easier to interpret the non-normalized values

165 0.3944590775291274 598 3.723797336952958

,userId,number_reviews,average_rating,Action_avg_rating_genre_feature,Action_num_rating_genre_feature,Adventure_avg_rating_genre_feature,Adventure_num_rating_genre_feature,Animation_avg_rating_genre_feature,Animation_num_rating_genre_feature,Children_avg_rating_genre_feature,Children_num_rating_genre_feature,Comedy_avg_rating_genre_feature,Comedy_num_rating_genre_feature,Crime_avg_rating_genre_feature,Crime_num_rating_genre_feature,Documentary_avg_rating_genre_feature,Documentary_num_rating_genre_feature,Drama_avg_rating_genre_feature,Drama_num_rating_genre_feature,Fantasy_avg_rating_genre_feature,Fantasy_num_rating_genre_feature,Film-Noir_avg_rating_genre_feature,Film-Noir_num_rating_genre_feature,Horror_avg_rating_genre_feature,Horror_num_rating_genre_feature,IMAX_avg_rating_genre_feature,IMAX_num_rating_genre_feature,Musical_avg_rating_genre_feature,Musical_num_rating_genre_feature,Mystery_avg_rating_genre_feature,Mystery_num_rating_genre_feature,Romance_avg_rating_genre_feature,Romance_num_rating_genre_feature,Sci-Fi_avg_rating_genre_feature,Sci-Fi_num_rating_genre_feature,Thriller_avg_rating_genre_feature,Thriller_num_rating_genre_feature,War_avg_rating_genre_feature,War_num_rating_genre_feature,Western_avg_rating_genre_feature,Western_num_rating_genre_feature
0,1,232,4.366379,4.322222,90,4.388235,85,4.689655,29,4.547619,42,4.277108,83,4.355556,45,4.366379,0,4.529412,68,4.297872,47,5.000000,1,3.470588,17,4.366379,0,4.681818,22,4.166667,18,4.307692,26,4.225000,40,4.145455,55,4.500000,22,4.285714,7
165,166,190,4.073684,3.994048,84,4.084906,53,4.500000,15,4.200000,15,4.067308,52,4.201923,52,4.000000,2,4.166667,84,4.034483,29,4.666667,3,3.750000,14,4.428571,7,4.500000,3,3.975000,20,4.214286,28,4.029412,34,4.014706,68,4.136364,11,4.333333,3
598,599,2478,2.642050,2.736148,758,2.766816,446,2.914110,163,2.397590,166,2.422051,975,2.812649,419,3.067308,52,2.823267,1010,2.652000,250,3.303571,28,2.397959,196,2.932692,52,2.615942,69,2.828221,163,2.666213,367,2.760766,418,2.703518,597,2.898810,84,2.653061,49

$Cosine(x,y) = \frac{x \cdot y}{|x||y|}$

In [35]:
# Measuring Similarity: Cosine Similarity

similarities = cosine_similarity(normalized, normalized)
similarities

index = 0
min_index, min_value, max_index, max_value = find_most_similar(similarities, normalized_df, index)

user_matrix.loc[[index, min_index, max_index],:] # it is easier to interpret the non-normalized values

598 0.5986467590459792 128 0.9965737142598751

,userId,number_reviews,average_rating,Action_avg_rating_genre_feature,Action_num_rating_genre_feature,Adventure_avg_rating_genre_feature,Adventure_num_rating_genre_feature,Animation_avg_rating_genre_feature,Animation_num_rating_genre_feature,Children_avg_rating_genre_feature,Children_num_rating_genre_feature,Comedy_avg_rating_genre_feature,Comedy_num_rating_genre_feature,Crime_avg_rating_genre_feature,Crime_num_rating_genre_feature,Documentary_avg_rating_genre_feature,Documentary_num_rating_genre_feature,Drama_avg_rating_genre_feature,Drama_num_rating_genre_feature,Fantasy_avg_rating_genre_feature,Fantasy_num_rating_genre_feature,Film-Noir_avg_rating_genre_feature,Film-Noir_num_rating_genre_feature,Horror_avg_rating_genre_feature,Horror_num_rating_genre_feature,IMAX_avg_rating_genre_feature,IMAX_num_rating_genre_feature,Musical_avg_rating_genre_feature,Musical_num_rating_genre_feature,Mystery_avg_rating_genre_feature,Mystery_num_rating_genre_feature,Romance_avg_rating_genre_feature,Romance_num_rating_genre_feature,Sci-Fi_avg_rating_genre_feature,Sci-Fi_num_rating_genre_feature,Thriller_avg_rating_genre_feature,Thriller_num_rating_genre_feature,War_avg_rating_genre_feature,War_num_rating_genre_feature,Western_avg_rating_genre_feature,Western_num_rating_genre_feature
0,1,232,4.366379,4.322222,90,4.388235,85,4.689655,29,4.547619,42,4.277108,83,4.355556,45,4.366379,0,4.529412,68,4.297872,47,5.000000,1,3.470588,17,4.366379,0,4.681818,22,4.166667,18,4.307692,26,4.225000,40,4.145455,55,4.50000,22,4.285714,7
598,599,2478,2.642050,2.736148,758,2.766816,446,2.914110,163,2.397590,166,2.422051,975,2.812649,419,3.067308,52,2.823267,1010,2.652000,250,3.303571,28,2.397959,196,2.932692,52,2.615942,69,2.828221,163,2.666213,367,2.760766,418,2.703518,597,2.89881,84,2.653061,49
128,129,140,3.921429,4.013158,76,3.920290,69,4.113636,22,3.944444,18,3.858974,39,4.071429,14,3.921429,0,3.986842,38,4.083333,30,4.500000,1,3.500000,7,3.937500,8,4.055556,9,3.545455,11,4.125000,24,3.895349,43,3.824324,37,4.25000,8,3.921429,0

# Summary

We are only scratching the surface with these similarity measurements!

Clearly, there exist some 'critics' in the data set that have a very large number of reviews. Since half the features are "counts" (though normalized) then critics will all be more similar to each other than they are to a regular user. Perhaps that is the goal you have in mind, but maybe you would only care about whether the _ratings_ given by two customers in a genre are similar or not and so you can drop all of the count based features.

Also, different people have different ratings scales. Maybe some (like our critic, userId =599) are very critical and have low average ratings, while some are enthusiastic and rate most movies highly. In this case, perhaps our business problem is better served by creating features that take the difference in the user's genre rating average and the user's total rating average. So, it's not that they _like_ Sci-Fi, it is whether they like it _more or less_ than other genres.

But, rest assured, we will have lots of practice with feature engineering throughout the rest of this course!

Finally, we are going to export our entire database so that we can reuse the tables we created for homework!

In [38]:
path_to_export = "/Users/yashwanth/Documents/GWU/Sem 3/Data Mining/Class 2/Class Material/MovieLensExport/"
duckdb.sql(f'''EXPORT DATABASE '{path_to_export}' (FORMAT PARQUET)''')